
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  About you
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        About you
      </h1>
    
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Your full name"
        },
        id: "full-name-applicant",
        name: "full-name-applicant"
      }) }}

      {% from "textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "address",
        id: "address",
        label: {
          text: "What's your address?"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Your telephone/mobile number"
        },
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        classes: "govuk-input--width-20"
      }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/member1.html",
        classes: "button-primary"
      }) }}


    </div>
</div>

{% endblock %}
