{% extends "layout-ERC.html" %}

{% block pageTitle %}
  5 years of addresses for joint applicant
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing 
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
        <p class="govuk-body-l">Enter the addresses your joint applicant lived at for the last 5 years. Start with the one they are living in at the moment.</p>
        <h2 class="govuk-heading-m">
            Address 1:
        </h2>
        
        <form class="form" method="post">
  
        {% from "input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Address, including postcode"
          },
          id: "addr1-joint",
          name: "addr1-joint",
          value: data['addr1-joint'],
          classes: "govuk-input--width-20"
        }) }}
  
        {% from "radios/macro.njk" import govukRadios %}
<br><br>
        {{ govukRadios({
          
          idPrefix: "type1-joint",
          name: "type1-joint",
          fieldset: {
            legend: {
              text: "Type of residence",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "tenant",
              text: "Tenant",
              checked: checked ("type1-joint", "tenant")
            },
            {
              value: "Lodger",
              text: "Lodger",
              checked: checked ("type1-joint", "Lodger")
            },
            {
              value: "Owner",
              text: "Owner",
              checked: checked ("type1-joint", "Owner")
            }
          ]
        }) }}
<br><br>
        {% from "date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "in1-joint",
          namePrefix: "in1-joint",
          fieldset: {
            legend: {
              text: "Date moved in",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 11 08 2014"
          },
          items:[
              {
              name: 'day',
              value: data['in1-joint-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['in1-joint-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['in1-joint-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}

        {{ govukDateInput({
          id: "out1-joint",
          namePrefix: "out1-joint",
          fieldset: {
            legend: {
              text: "Date moved out",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['out1-joint-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['out1-joint-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['out1-joint-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}
 <br><br>
        {% from "textarea/macro.njk" import govukTextarea %}
        {% set otherHtml %}
        {{ govukTextarea({
          name: "reason1-joint-other",
          id: "reason1-joint-other",
          classes: "govuk-!-width-two-thirds",
          value: data['reason1-joint-other'],
          label: {
            text: "Give Details"
          }
        }) }}
      {% endset -%}


        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "leave1-joint-conditional",
          name: "leave1-joint",
          fieldset: {
            legend: {
              text: "Reason for leaving",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Eviction: rent arrears",
              text: "Eviction: rent arrears",
              checked: checked("leave1-joint", "Eviction: rent arrears")
            },
            {
              value: "Eviction: other reason",
              text: "Eviction: other reason",
              checked: checked("leave1-joint", "Eviction: other reason")
            },
            {
              value: "Asked or told to leave",
              text: "Asked or told to leave",
              checked: checked("leave1-joint", "Asked or told to leave")
            },
            {
              value: "Marriage breakdown",
              text: "Marriage breakdown",
              checked: checked("leave1-joint", "Marriage breakdown")
            },
            {
              value: "End of lease",
              text: "End of lease",
              checked: checked("leave1-joint", "End of lease")
            },
            {
              value: "House sale",
              text: "House sale",
              checked: checked("leave1-joint", "House sale")
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("leave1-joint", "Other"),
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "button-primary"
        }) }}
      

    </div>
</div>


{% endblock %}
