{% extends "layout-ERC.html" %}

{% block pageTitle %}
  5 years of addresses
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for Housing 
        </h1>
        
        <p class="govuk-body-l">Enter the addresses you lived at for the last 5 years. Start with the one you are living in at the moment.</p>
        <h2 class="govuk-heading-m">
            Address 1:
        </h2>
        
        <form class="form" method="post">
  
        {% from "input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Address"
          },
          id: "addr1",
          name: "addr1",
          value: data['addr1'],
          classes: "govuk-input--width-20"
        }) }}
  
        {% from "radios/macro.njk" import govukRadios %}
<br><br>
        {{ govukRadios({
          
          idPrefix: "type1",
          name: "type1",
          fieldset: {
            legend: {
              text: "Type of residence",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "tenant",
              text: "tenant"
            },
            {
              value: "Lodger",
              text: "Lodger"
            },
            {
              value: "Owner",
              text: "Owner"
            }
          ]
        }) }}
<br><br>
        {% from "date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "in1",
          namePrefix: "in1",
          fieldset: {
            legend: {
              text: "Date moved in",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 11 08 2014"
          },
          items:[
              {
              name: 'day',
              value: data['in1-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['in1-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['in1-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}

        {{ govukDateInput({
          id: "out1",
          namePrefix: "out1",
          fieldset: {
            legend: {
              text: "Date moved out",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['out1-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['out1-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['out1-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}
 <br><br>
        {% from "textarea/macro.njk" import govukTextarea %}
        {% set otherHtml %}
        {{ govukTextarea({
          name: "reason1-other",
          id: "reason1-other",
          classes: "govuk-!-width-two-thirds",
          value: data['reason1-other'],
          label: {
            text: "Give Details"
          }
        }) }}
      {% endset -%}


        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "leave1-conditional",
          name: "leave1",
          fieldset: {
            legend: {
              text: "Reason for leaving",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Eviction: rent arrears",
              text: "Eviction: rent arrears"
            },
            {
              value: "Eviction: other reason",
              text: "Eviction: other reason"
            },
            {
              value: "Asked or told to leave",
              text: "Asked or told to leave"
            },
            {
              value: "Marriage breakdown",
              text: "Marriage breakdown"
            },
            {
              value: "End of lease",
              text: "End of lease"
            },
            {
              value: "House sale",
              text: "House sale"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue",
          classes: "button-primary"
        }) }}
      

    </div>
</div>

<div class="content-notes-box">
  <h3 class="govuk-heading-s">Content notes:</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>guidance about what we need to be re-drafted and consistent with the before you start page</li>

  </ul>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>we will use the same pattern as for adding person or children </li>
    <li>agreed by Housing - need 6 addresses and a textbox on the last one if the applicant need to add more addresses</li>
    </ul>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>For the first address, date moved out doesn't need to be filled in, but it's needed for the other pages</li>
    <li>need to enter an address (textbox not empty) + need to pick a type + need at least one reason for leaving (if Other then need a description)</li>
    <li>Dates: need to have input and to be numbers but no other validation is needed</li>
    </ul>
</div>

{% endblock %}
