
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Address 1 Joint applicant
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
          Address 1 - joint applicant:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Address:</th><td class="govuk-table__cell no-border">{{data['addr1-joint']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Type of residence:</th><td class="ngovuk-table__cell o-border">
                {% if data['type1-joint'] == 'Other' %}
                {{data['type1-other-joint']}}
                {% else %}
                {{data['type1-joint']}}
                {% endif %}
            </td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date moved in:</th><td class="govuk-table__cell no-border">{{data['in1-joint']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date moved out:</th><td class="govuk-table__cell no-border">{{data['out1-joint']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Reason for leaving:</th><td class="govuk-table__cell no-border">
                {% if data['leave1-joint'] == 'Other' %}
                {{data['reason1-other-joint']}}
                {% else %}
                {{data['leave1-joint']}}
                {% endif %}
            </td></tr>
        </tbody>
      </table>
    </div>
      <p><a href="/forms/housing/CBL5yearsadd-joint.html">Edit address 1</a></p>


      <form class="form" method="post">
     
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "add-address2-joint",
          name: "add-address2-joint",
          fieldset: {
            legend: {
              text: "Do you need to add a past address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked ("add-address2-joint", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked ("add-address2-joint", "no")
            }
          ]
        }) }}


      {% from "button/macro.njk" import govukButton %}
      <br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>

    </div>
</div>


{% endblock %}
