
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  About you
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>
      <h2 class="govuk-heading-m">
        About you
      </h2>
    
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name-applicant",
        name: "first-name-applicant",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name-applicant",
        name: "last-name-applicant",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone/mobile number"
        },
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        classes: "govuk-input--width-10"
      }) }}


      {{ govukInput({
        label: {
          text: "Email address"
        },
        hint: {
          text: "We’ll use this to send you a receipt."
        },
        id: "email",
        name: "email",
        type: "email",
        classes: "govuk-input--width-20"
      }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBLpostcode.html",
        classes: "button-primary"
      }) }}

    </div>
</div>
<div class="UR-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>we don't capture the gender or DOB of the applicant, what if it's a woman and she is pregnant?</li>
      <li>should email be optional?</li>
      <li>as the form is really long, we should probably group all these questions on one page as they are easy and all related to the applicant</li>
    </ul>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
  <p>If we don't put all these screens on one page, then IT needs to fix the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>On the actual 3 pages, all the inputs fields are too long - should be reduced</li>
      <li>on the phone page, the next button is at the wrong place</li>
      <li>the email input page should come before the contact preferences in the flow of screens</li>
    </ul>
</div>
{% endblock %}
