
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  About you
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
        About you
      </h2>
      <form class="form" method="post" novalidate>
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name-applicant",
        name: "first-name-applicant",
        value: data['first-name-applicant'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name-applicant",
        name: "last-name-applicant",
        value: data['last-name-applicant'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Telephone/mobile number"
        },
        id: "telephone-number",
        name: "telephone-number",
        value: data['telephone-number'],
        type: "tel",
        classes: "govuk-input--width-10"
      }) }}


      {{ govukInput({
        label: {
          text: "Email (optional)"
        },
        hint: {
          text: "We’ll use this to send you a receipt."
        },
        id: "email",
        name: "email",
        value: data['email'],
        type: "email",
        classes: "govuk-input--width-20"
      }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>grouping 3 screens from the previous form here - Agree by Housing</li>
    </ul>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>approved so can be coded all on one page</li>
      <li>Validation: test the email is well formed if provided - Enter valid email address</li>
      <li>accept spaces in the phone number - if possible check the format - if not entered: Enter phone number - if not valid: Enter valid phone number</li>
      <li>Enter first name / Enter last name</li>
    </ul>
</div>
{% endblock %}
