
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Address 1
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing<span class="UR-tag red">red</span>
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
          Address 1:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Address:</th><td class="govuk-table__cell no-border">{{data['addr1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Type of residence:</th><td class="ngovuk-table__cell o-border">{{data['type1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date moved in:</th><td class="govuk-table__cell no-border">{{data['in1-day']}}/{{data['in1-month']}}/{{data['in1-year']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date moved out:</th><td class="govuk-table__cell no-border">{{data['out1-day']}}/{{data['out1-month']}}/{{data['ou1t-year']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Reason for leaving:</th><td class="govuk-table__cell no-border">
              {% if data['leave1'] == 'Other' %}
              {{data['reason1-other']}}
              {% else %}
              {{data['leave1']}}
              {% endif %}
          </td></tr>
        </tbody>
      </table>
    </div>
      <p><a href="/forms/housing/CBL5yearsadd.html">Edit address 1</a></p>


      <form class="form" method="post">
     
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "add-address2",
          name: "add-address2",
          fieldset: {
            legend: {
              text: "Do you need to add another address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked ("add-address2", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked ("add-address2", "no")
            }
          ]
        }) }}


      {% from "button/macro.njk" import govukButton %}
      <br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>

    </div>
</div>


{% endblock %}
