
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Add children
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Apply online for Housing
      </h1>
      <p>Enter each child staying with you occasionally.</p>
      <h2 class="govuk-heading-m">
          Child 1:
      </h2>

      {% from "input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name-person1",
        name: "first-name-person1",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name-person1",
        name: "last-name-person1",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukDateInput({
        id: "dob-person1",
        namePrefix: "dob-person1",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items:[
            {
            name: 'day',
            value: data['dob-person1-day'],
            classes: "govuk-input--width-2"
            },
            {
            name: 'month',
            value: data['dob-person1-month'],
            classes: "govuk-input--width-2"
            },
            {
            name: 'year',
            value: data['dob-person1-year'],
            classes: "govuk-input--width-4"
            }
            ]
      }) }}

      {% from "radios/macro.njk" import govukRadios %}

      {% set genderHtml %}
      {{ govukInput({
        id: "gender-desc1",
        name: "gender-desc1",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Describe gender in another way"
        }
      }) }}
      {% endset -%}


      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "gender1",
        name: "gender1",
        fieldset: {
          legend: {
            text: "Gender",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "female",
            text: "Female"
          },
          {
            value: "male",
            text: "Male"
          },
          {
            value: "Another gender",
            text: "Another gender",
            conditional: {
              html: genderHtml
            }
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Relationship to you"
        },
        id: "relationship1",
        name: "relationship1",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Enter their address"
        },
        id: "add1",
        name: "add1",
        classes: "govuk-input--width-30"
      }) }}

      {% from "button/macro.njk" import govukButton %}


      <button id="addbutton2" type="submit" class="govuk-button button-secondary" onclick="showchild2()">
        Add another child
      </button>

      <div id="CBLchild2">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
        <h2 class="govuk-heading-m">
            Child 2:
        </h2>
        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name-person1",
          name: "first-name-person1",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name-person1",
          name: "last-name-person1",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukDateInput({
          id: "dob-person1",
          namePrefix: "dob-person1",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['dob-person1-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['dob-person1-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['dob-person1-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}
  
        {% set genderHtml %}
        {{ govukInput({
          id: "gender-desc1",
          name: "gender-desc1",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe gender in another way"
          }
        }) }}
        {% endset -%}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "gender1",
          name: "gender1",
          fieldset: {
            legend: {
              text: "Gender",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "female",
              text: "Female"
            },
            {
              value: "male",
              text: "Male"
            },
            {
              value: "Another gender",
              text: "Another gender",
              conditional: {
                html: genderHtml
              }
            }
          ]
        }) }}
  
        {{ govukInput({
          label: {
            text: "Relationship to you"
          },
          id: "relationship1",
          name: "relationship1",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukInput({
          label: {
            text: "Enter their address"
          },
          id: "add1",
          name: "add1",
          classes: "govuk-input--width-30"
        }) }}
  
        <button type="submit" class="govuk-button button-warning" onclick="hidechild2()">
          Remove child 2
        </button>
        <button type="submit" class="govuk-button button-secondary" onclick="showchild3()">
          Add another child
        </button>
      </div>

      <div id="CBLchild3">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
        <h2 class="govuk-heading-m">
            child 3:
        </h2>
        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name-person1",
          name: "first-name-person1",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name-person1",
          name: "last-name-person1",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukDateInput({
          id: "dob-person1",
          namePrefix: "dob-person1",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['dob-person1-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['dob-person1-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['dob-person1-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}

  
        {% set genderHtml %}
        {{ govukInput({
          id: "gender-desc1",
          name: "gender-desc1",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe gender in another way"
          }
        }) }}
        {% endset -%}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "gender1",
          name: "gender1",
          fieldset: {
            legend: {
              text: "Gender",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "female",
              text: "Female"
            },
            {
              value: "male",
              text: "Male"
            },
            {
              value: "Another gender",
              text: "Another gender",
              conditional: {
                html: genderHtml
              }
            }
          ]
        }) }}
  
        {{ govukInput({
          label: {
            text: "Relationship to you"
          },
          id: "relationship1",
          name: "relationship1",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukInput({
          label: {
            text: "Enter their address"
          },
          id: "add1",
          name: "add1",
          classes: "govuk-input--width-30"
        }) }}
  
       
        <button type="submit" class="govuk-button button-warning" onclick="hidechild3()">
          Remove child 3
        </button>
        <button type="submit" class="govuk-button button-secondary">
          Add another child - not coded
        </button>
      </div>
<br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary",
        href: "/forms/housing/CBLlegal.html"
      }) }}


      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
         <p>Wording would probably change - need to be seen by Sharon and approved by Housing</p>
      </div>
    </div>
</div>

{% endblock %}
