
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Bedrooms
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
        We need to know about the bedrooms in your current house.
      </h2>
<br><br>
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "double",
        name: "double",
        fieldset: {
          legend: {
            text: "How many are double?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "0",
            text: "0"
          },
          {
            value: "1",
            text: "1"
          },
          {
            value: "2",
            text: "2"
          },
          {
            value: "3",
            text: "3"
          },
          {
            value: "4 or more",
            text: "4 or more"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "single",
        name: "single",
        fieldset: {
          legend: {
            text: "How many are single?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "0",
            text: "0"
          },
          {
            value: "1",
            text: "1"
          },
          {
            value: "2",
            text: "2"
          },
          {
            value: "3",
            text: "3"
          },
          {
            value: "4 or more",
            text: "4 or more"
          }
        ]
      }) }}


  
      <br>
      {% set lessRoomsHtml %}
      <p class="govuk-body-l">Now tell us only about the bedrooms you can use.</p>
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "double-used",
        name: "double-used",
        fieldset: {
          legend: {
            text: "How many are double?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "0",
            text: "0"
          },
          {
            value: "1",
            text: "1"
          },
          {
            value: "2",
            text: "2"
          },
          {
            value: "3",
            text: "3"
          },
          {
            value: "4 or more",
            text: "4 or more"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "single-used",
        name: "single-used",
        fieldset: {
          legend: {
            text: "How many are single?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "0",
            text: "0"
          },
          {
            value: "1",
            text: "1"
          },
          {
            value: "2",
            text: "2"
          },
          {
            value: "3",
            text: "3"
          },
          {
            value: "4 or more",
            text: "4 or more"
          }
        ]
      }) }}
      {% endset -%}

          {% from "radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "use-less-conditional",
            name: "use-less",
            fieldset: {
              legend: {
                text: "Can your household only use some of these bedrooms?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: lessRoomsHtml
                }
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Add any other information about sleeping arrangements we might need to know about (optional)"
            }
          }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBL5yearsadd.html",
        classes: "button-primary"
      }) }}

    </div>
</div>

<div class="content-notes-box">
    <h3 class="govuk-heading-s">Content notes:</h3>
   <p>content need to be reviewed by both Housing and Sharon</p> 
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
  <p><strong>we will need to test this, because there is a lot on this screen now</strong></p>
   <p>Agreed by housing - They do need to know if how many bedroom in the house and how many they can use as if it's over crowded, they get an extra priority</p> 
   <p>This is grouping instead previous screens:</p>
   <ul class="govuk-list govuk-list--bullet">
     <li>how many bedrooms are in your current home</li>
     <li>how many bedrooms can your household use</li>
     <li>how many double</li>
     <li>how many single</li>
   </ul>
</div>
{% endblock %}
