
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Pregnancy
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Choice Based Letting
      </h1>

{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}

{% set babyHtml %}
{{ govukTextarea({
  id: "baby",
  name: "baby",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Enter their name and the date the baby/babies are due"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "is-pregnant-conditional",
  name: "is-pregnant",
  fieldset: {
    legend: {
      text: "Are you or anyone living with you pregnant?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: babyHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBLjoint.html",
        classes: "button-primary"
      }) }}

    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
   <p>The wording would need to be approved and maybe changed by Sharon / Housing</p>
</div>

{% endblock %}
