
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Child 1
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
          Child 1:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['first-name-child1']}}&nbsp;{{data['last-name-child1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="ngovuk-table__cell o-border">{{data['dob-child1-day']}}/{{data['dob-child1-month']}}/{{data['dob-child1-year']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender-child1'] === 'Other' %} {{data['gender-child-desc1']}} {% else %} {{data['gender-child1']}}{% endif %}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Relation to you:</th><td class="govuk-table__cell no-border">{{data['child-relationship1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Their address:</th><td class="govuk-table__cell no-border">{{data['child-add1']}}</td></tr>
        </tbody>
      </table>
    </div>
      <p><a href="/forms/housing/CBLadd-child1-loop.html">Edit child 1 details</a></p>
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Remove child 1",
        classes: "button-warning",
        href: "/forms/housing/CBLother-children.html"
      }) }}
      <br><br>

      <form class="form" method="post">
     
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "add-child2",
          name: "add-child2",
          fieldset: {
            legend: {
              text: "Do you need to add another child?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked ("add-child2", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked ("add-child2", "no")
            }
          ]
        }) }}


      {% from "button/macro.njk" import govukButton %}
      <br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>

    </div>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:<span class="UR-tag ok">ok to code</span></h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Edit child 1 details takes them back to the previous page</li>
      <li>Remove child 1 takes them back to the screen where they select if they have children living with them</li>
      <li>Validation - <span class="govuk-error-message">Confirm need to add another child</span></li>
    </ul>
</div>

{% endblock %}
