{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Application submitted
            </h1>
            <div class="govuk-panel__body">
              {% if data['email'] %}
              We’ve sent an email to confirm your application to <strong> {{ data['email']}}</strong>
              {% endif%}
            </div>
          </div>
          <p>Thank you for submitting your housing registration form.</p>
          <p>We’ll contact you within x days.</p>
          <p>Contact us on 0141 577 3002 or email housing@eastrenfrewshire.gov.uk if you need any further help.</p>
          <p>Housing Team</p>

    </div>
</div>
<div class="content-notes-box">
    <h3 class="govuk-heading-s">Content notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>only provisional content - will need to be reviewed with Sharon and Housing</li>
    </ul>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p><strong>could we have a pdf or something the user can print of download?</strong></p>
    <p>could we prompt the user to fill in a medical priority application depending on what they selected in the form - send the pdf in the confirmation email maybe?</p>
    <p>Housing doesn't want a reference number here, they have their own reference number</p>
</div>

{% endblock %}



