
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>
        <form class="form" method="post">
        {% from "radios/macro.njk" import govukRadios %}
        {% from "textarea/macro.njk" import govukTextarea %}
            
        {% set attorneyHtml %}
        {{ govukTextarea({
          id: "contact-att",
          name: "contact-att",
          value: data['contact-att'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter the contact details of your advocate or power of attorney"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          idPrefix: "how-contacted-conditional",
          name: "how-contacted",
          fieldset: {
            legend: {
              text: "How would you prefer us to contact you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "We may still contact you in another way if we can't reach you."
          },
          items: [
            {
              value: "Email",
              text: "Email"
            },
            {
              value: "Phone",
              text: "Phone"
            },
            {
              value: "Post",
              text: "Post",
              conditional: {
                html: textHtml
              }
            },
            {
              value: "I have an advocate or power of attorney",
              text: "I have an advocate or power of attorney",
              conditional: {
                html: attorneyHtml
              }
            }
          ]
        }) }}
    
          {{ govukButton({
            text: "Continue",
            classes: "button-primary"
          }) }}
          </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>There is two guidance sentences at the moment, one above one below the attorney details boxes. Needs to be changed (Content decision and then IT fix)</p>
</div>

{% endblock %}
