
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>
        <form class="form" method="post">
        {% from "radios/macro.njk" import govukRadios %}
        {% from "textarea/macro.njk" import govukTextarea %}
            
        {% set attorneyHtml %}
        {{ govukTextarea({
          id: "contact-att",
          name: "contact-att",
          value: data['contact-att'],
          label: {
            text: "Enter the contact details of your advocate or power of attorney, including name, phone and address"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          idPrefix: "how-contacted-conditional",
          name: "how-contacted",
          fieldset: {
            legend: {
              text: "How would you prefer us to contact you?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "We may still contact you in another way if we can't reach you."
          },
          items: [
            {
              value: "Email",
              text: "Email"
            },
            {
              value: "Phone",
              text: "Phone"
            },
            {
              value: "Post",
              text: "Post",
              conditional: {
                html: textHtml
              }
            },
            {
              value: "I have an advocate or power of attorney",
              text: "I have an advocate or power of attorney",
              conditional: {
                html: attorneyHtml
              }
            }
          ]
        }) }}
    
          {{ govukButton({
            text: "Continue",
            classes: "button-primary"
          }) }}
          </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>If the person selected "I'm homeless" on the previous screen, they might still want to provide an address where to contact them.</p>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>If the person selected "I'm homeless" on the previous screen, they can still select Post, but this should open a textbox, with the same message as previously Enter address, including postcode</li>
    <li>if no email was entered previously, could we remove the radio button on this page?</li>
    <li>Validation: Confirm preferred contact (if none selected) - Enter address (if homeless and textbox displayed)- Enter contact details (for attorney textbox)</li>
    </ul>
</div>

{% endblock %}
