
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Connection to East Ren
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Apply online for Housing
      </h1>

{% from "radios/macro.njk" import govukRadios %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "textarea/macro.njk" import govukTextarea %}

{% set detailsHtml %}
{{ govukTextarea({
  id: "connection-details",
  name: "connection-details",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Give details"
  }
}) }}
{% endset -%}

{% set addressHtml %}
{{ govukTextarea({
  id: "connection-details",
  name: "connection-details",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Tell us their name and address including postcode"
  }
}) }}
{% endset -%}

{% set connectionHtml %}
{{ govukCheckboxes({
  idPrefix: "reason-conditional",
  name: "reason",
  fieldset: {
    legend: {
      text: "What is your connection to East Renfrewshire?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "job",
      text: "I have a job in the area"
    },
    {
      value: "offered-job",
      text: "I've been offered a job in the area"
    },
    {
      value: "looking-for-job",
      text: "I'm looking for a job in the area"
    },
    {
      value: "support",
      text: "Support for a from a relative who lives in area"
    },
    {
      value: "social",
      text: "Social or medical reason to live in the area including disability and mental health"
    },
    {
      value: "Relative",
      text: "Relative lives in area",
      conditional: {
        html: addressHtml
      }
    },
    {
      value: "Other",
      text: "Other reason",
      conditional: {
        html: detailsHtml
      }
    }
  ]
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "connection-conditional",
  name: "connection",
  fieldset: {
    legend: {
      text: "Do you currently live in East Renfrewshire?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: connectionHtml
      }
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBLcurrent.html",
        classes: "button-primary"
      }) }}

    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>if they select "relative lives in area" we need a textbox for them to enter the name and address</li>
    </ul>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>can be coded</li>
      <li>extra textbox for other reason, and relative live in area / different lablel for each though </li>
      <li>we need at list one checked, and if open a text box, then it needs not to be empty</li>
      <li>Select at least one - Give details - Enter name and address (to be confirmed by Sharon)</li>
    </ul>
</div>
{% endblock %}
