{% extends "layout-ERC.html" %}

{% block pageTitle %}
Health, care, social and support needs
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>

        {% from "radios/macro.njk" import govukRadios %}
        {% set medicalHtml %}
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "priority",
            name: "priority",
            fieldset: {
                legend: {
                text: "Have you completed a medical priority application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}
         
        {% endset -%}


        {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "medical-conditional",
        name: "medical",
        fieldset: {
            legend: {
            text: "Do you have any physical or mental health needs which are affected by your housing circumstances?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "no",
            text: "No"
            },
            {
            value: "yes",
            text: "Yes",
            conditional: {
                html: medicalHtml
              }
            }
        ]
        }) }}
     
 
        {% set policeHtml %}
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "police",
            name: "police",
            fieldset: {
                legend: {
                text: "Have you told the police?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}
         
        {% endset -%}


        {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "abuse-conditional",
        name: "abuse",
        fieldset: {
            legend: {
            text: "Do you need to move because you’re being harassed, threatened or abused?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "no",
            text: "No"
            },
            {
            value: "yes",
            text: "Yes",
            conditional: {
                html: policeHtml
              }
            }
        ]
        }) }}
 
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/housing/CBLhouse-type.html"
        }) }}
      

    </div>
</div>

<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>not sure these work with nested radio buttons... might be better to go back to 4 pages instead of grouping them - when yes, another question appears. With the IT form, it will not appear nested but under the first bullet point, might work better?</p>
    <p>if IT can do it, the radio buttons might look better inline?</p>
    <p><strong>if they say no to medical application, then we need to prompt them to fill that form, could be guidance here and /or in the confirmation email?</strong></p>
</div>

{% endblock %}
