{% extends "layout-ERC.html" %}

{% block pageTitle %}
Health, care, social and support needs
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        {% set medicalHtml %}
        {{ govukRadios({
            idPrefix: "priority",
            name: "priority",
            fieldset: {
                legend: {
                text: "Have you completed a medical priority application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}
        {% endset -%}
        
        
        {{ govukRadios({
        idPrefix: "medical-conditional",
        name: "medical",
        fieldset: {
            legend: {
            text: "Do you have any physical or mental health needs which are affected by your housing circumstances?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "yes",
            text: "Yes",
            conditional: {
                html: medicalHtml
              }
            },
            {
            value: "no",
            text: "No"
            }
        ]
        }) }}

 
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/housing/CBLextra-reason-abuse.html"
        }) }}


    </div>
</div>

{% endblock %}
