{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Physical medical and others reasons
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>

        <p>will group screens: asking for physical or medical reason, and if medical priority form done + harrassed and told the police <strong class="govuk-tag red">coming soon</strong></p>
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/housing/CBLhouse-type.html"
        }) }}
      

    </div>
</div>

<div class="UR-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
</div>

{% endblock %}
