
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Gender
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>
        <form class="form" method="post">
        {% from "radios/macro.njk" import govukRadios %}

        {% set genderHtml %}
        {{ govukInput({
          id: "gender-desc",
          name: "gender-desc",
          value: data['gender-desc'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe gender in another way"
          }
        }) }}
        {% endset -%}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "gender-applicant",
          name: "gender-applicant",
          fieldset: {
            legend: {
              text: "Your gender",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "female",
              text: "Female"
            },
            {
              value: "male",
              text: "Male"
            },
            {
              value: "Another gender",
              text: "Another gender",
              conditional: {
                html: genderHtml
              }
            }
          ]
        }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>To capture the gender of the applicant</li>
      <li>also it prepares the user to enter it that way for the other members of the household?</li>
    </ul>
</div>

{% endblock %}
