
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Homeless
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Apply online for council housing<span class="UR-tag red">NEW</span>
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

      <h2 class="govuk-heading-m">
          If you are homeless or could soon become homeless
      </h2>
        <p>Contact our Homeless Team without delay for advice. They will look at your situation and tell you what your housing options are.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Monday to Friday from 8.45am to 4.45pm (excluding public holidays) <strong>0141 577 3001</strong></li>
          <li>Outwith office hours: <strong>0800 052 0180</strong></li>
        </ul>
 
    </div>
</div>

{% endblock %}
