
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Who will be living with you
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for Housing
        </h1>
        <h2 class="govuk-heading-m">
            We need to know who will be living with you
          </h2>
          <p>In the following screens, only add children if they live permanently with you.</p>
          <p>Any children from a previous relation who stay regularly overnight will be added later. <em>(this content will need to match what we put on the relevant screen)</em></p>
<br><br>
          <form class="form" method="post">
          {% from "radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "living-alone",
            name: "living-alone",
            fieldset: {
              legend: {
                text: "Will you be living alone?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue",
            classes: "button-primary"
          }) }}
          </form>
    </div>
</div>
<div class="content-notes-box">
  <h3 class="govuk-heading-s">Content notes:</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><strong>Content for this page is only a place holder, it will be re-worded before testing</strong></li>
    <li>Usability testing will help to see what is needed</li>
    <li>content about other children on this page should match the relevant screen later</li>
  </ul>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>we expect the user to add everyone who will be living with them but the kids from a previous relation who regularly stay overnight (this is du to the process they follow)</li>
    </ul>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>if they say they live alone, they jump to the pregnancy question - if no, then they will go to the first screen to add person</li>
      <li>Validation - error message : to be provided when content is drafted</li>
    </ul>
</div>

{% endblock %}
