
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Immigration control
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for Housing
      </h1>
      {% from "radios/macro.njk" import govukRadios %}
        {% from "textarea/macro.njk" import govukTextarea %}

        {% set detailsHtml %}
        {{ govukTextarea({
          id: "details",
          name: "details",
          label: {
            text: "Give details"
          }
        }) }}
        {% endset -%}



        {{ govukRadios({
          idPrefix: "immigration-conditional",
          name: "immigration",
          fieldset: {
            legend: {
              text: "Are you or anyone who will live with you under immigration control?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: detailsHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary",
        href: "/forms/housing/CBLrecourse.html"
      }) }}
    </div>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
  <p>wording is different - now asking WILL live with you</p>
  <p>validation: Confirm you or anyone under immigration control</p>
</div>
{% endblock %}
