
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  National Insurance Number
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for council housing
      </h1>
    
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}

{% set niHtml %}
{{ govukInput({
  id: "ni",
  name: "ni",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter your National Insurance number"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "ni-nb-conditional",
  name: "ni-nb",
  fieldset: {
    legend: {
      text: "Do you have a National Insurance number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: niHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBLaboutyou.html",
        classes: "button-primary"
      }) }}
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>pattern agreed by housing</li>
      <li>they need the NI to provide the service</li>
      <li>might need to double check with legal though</li>
      <li>GOVUK guidance <a href="https://design-system.service.gov.uk/patterns/national-insurance-numbers/" target="_blank" rel="noopener" >about using the NI</a>: <strong>You shouldn’t use National Insurance numbers to verify a user’s identity.</strong></li>
    </ul>
  </div>

  <div class="IT-notes-box">
      <h3 class="govuk-heading-s">IT notes:</h3>
      <p>pattern agreed by Housing, can be coded</p>
      <p>validation: Confirm have National Insurance number</p>
      <p>validation if yes: Enter National Insurance number</p>
    </div>

{% endblock %}
