
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Other properties
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>

{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}

{% set addressHtml %}
{{ govukTextarea({
  id: "properties-details",
  name: "properties-details",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Address, including postcode"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "is-properties-conditional",
  name: "is-properties",
  fieldset: {
    legend: {
      text: "Do you own or rent any other properties other than your current home?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes-own",
      text: "Yes, I own it",
      conditional: {
        html: addressHtml
      }
    },
    {
      value: "yes-rent",
      text: "Yes, I rent it",
      conditional: {
        html: addressHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBLconnection-ER.html",
        classes: "button-primary"
      }) }}

    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p><strong> unclear it's other properties if read quickly!</strong></p>
 
</div>

{% endblock %}
