
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for Housing
      </h1>
      <p>You need to contact our Housing Advice and Homelessness Team (contact details to follow)</p>
    </div>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
  <p>Change the sentence to what is on this screen: Remove 'Please' and change to 'You need to'.</p>
</div>

{% endblock %}
