{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Preferences
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
        <h2 class="govuk-heading-m">
            Some info here - content will soon be done
        </h2>
       <p></p>
        
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/housing/CBLhouse-type.html"
        }) }}
      

    </div>
</div>

<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:<span class="UR-tag red">content to come</span></h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>this will explain why we ask the next 3 questions over 2 pages</li>
<li>will be just text</li>
</ul>
</div>

{% endblock %}
