
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Person 3
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
          Person 1:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['first-name-person1']}}&nbsp;{{data['last-name-person1']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="ngovuk-table__cell o-border">{{data['dob-person1-day']}}/{{data['dob-person1-month']}}/{{data['dob-person1-year']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender1'] === 'Other' %} {{data['gender-desc1']}} {% else %} {{data['gender1']}}{% endif %}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Living with you now:</th><td class="govuk-table__cell no-border">{{data['live-with1']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Relation to you:</th><td class="govuk-table__cell no-border">{{data['relationship1']}}</td></tr>
          </tbody>
        </table>
        </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
      <h2 class="govuk-heading-m">
          Person 2:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['first-name-person2']}}&nbsp;{{data['last-name-person2']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="ngovuk-table__cell o-border">{{data['dob-person2-day']}}/{{data['dob-person2-month']}}/{{data['dob-person2-year']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender2'] === 'Other' %} {{data['gender-desc2']}} {% else %} {{data['gender2']}}{% endif %}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Living with you now:</th><td class="govuk-table__cell no-border">{{data['live-with2']}}</td></tr>
            <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Relation to you:</th><td class="govuk-table__cell no-border">{{data['relationship2']}}</td></tr>
          </tbody>
        </table>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
        <h2 class="govuk-heading-m">
            Person 3:
        </h2>
        <div style="overflow: auto">
          <table class=" govuk-table half-width">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['first-name-person3']}}&nbsp;{{data['last-name-person3']}}</td></tr>
              <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="ngovuk-table__cell o-border">{{data['dob-person3-day']}}/{{data['dob-person3-month']}}/{{data['dob-person3-year']}}</td></tr>
              <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender3'] === 'Other' %} {{data['gender-desc3']}} {% else %} {{data['gender3']}}{% endif %}</td></tr>
              <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Living with you now:</th><td class="govuk-table__cell no-border">{{data['live-with3']}}</td></tr>
              <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Relation to you:</th><td class="govuk-table__cell no-border">{{data['relationship3']}}</td></tr>
            </tbody>
          </table>
          </div>

      <p><a href="/forms/housing/CBLadd-person3-loop.html">Edit person 3 details</a></p>
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Remove person 3",
        classes: "button-warning",
        href: "/forms/housing/CBLperson2.html"
      }) }}
      <br><br>
      <form class="form" method="post">
     
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "add-person4",
          name: "add-person4",
          fieldset: {
            legend: {
              text: "Do you need to add another person?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
 

      {% from "button/macro.njk" import govukButton %}
      <br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}     
    </form>

    </div>
</div>


{% endblock %}
