
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post">

        {% from "radios/macro.njk" import govukRadios %}
        {% from "textarea/macro.njk" import govukTextarea %}
        
        {% set postcodeHtml %}
        {{ govukTextarea({
          id: "postcode",
          name: "postcode",
          value: data['postcode'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter address, including postcode"
          }
        }) }}
        {% endset -%}
        
        
        {{ govukRadios({
          idPrefix: "has-add-conditional",
          name: "has-add",
          fieldset: {
            legend: {
              text: "Do you have a fixed address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "This is where you live now, even if you are living with friends, family or somewhere else."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: postcodeHtml
              }
            },
            {
              value: "no",
              text: "No, I'm homeless"
            }
          ]
        }) }}
        
              {{ govukButton({
                text: "Continue",
                classes: "button-primary"
              }) }}
      </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>pattern agreed by Housing - but we might need more guidance for Homeless option, here and / or on the Before you start page</li>
    </ul>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
  <ul class="govuk-list govuk-list--bullet">
  <li>text for address, mentions postcode now - no validation apart from the textbox not empty</li>
  <li>if "No I'm homeless" is selected there might be more guidance and we use this answer for logic in contact details on the next screen</li>
  <li>validation: Confirm fixed address / Enter address </li>
  </ul>
</div>

{% endblock %}
