{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Reasons for applying
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing <span class="UR-tag red">CHANGED</span>
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "textarea/macro.njk" import govukTextarea %}
        
        {% set detailsHtml %}
        {{ govukTextarea({
          id: "reason-details",
          name: "reason-details",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Give details"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
            idPrefix: "reason-conditional",
            name: "reason",
            fieldset: {
              legend: {
                text: "Why are you applying for housing?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select any that apply."
            },
            items: [
              {
                value: "Homelessness or at risk of homelessness ",
                text: "Homelessness or at risk of homelessness "
              },
              {
                value: "Leaving prison",
                text: "Leaving prison"
              },
              {
                value: "Leaving hospital",
                text: "Leaving hospital"
              },
              {
                value: "Leaving HM Armed Forces",
                text: "Leaving HM Armed Forces"
              },
              {
                value: "Relationship problems",
                text: "Relationship problems"
              },
              {
                value: "Domestic abuse",
                text: "Domestic abuse"
              },
              {
                value: "Harassment or violence in my area",
                text: "Harassment or violence in my area"
              },
              {
                value: "Home being repossessed as can’t pay mortgage",
                text: "Home being repossessed as can’t pay mortgage"
              },
              {
                value: "Can’t afford to pay rent",
                text: "Can’t afford to pay rent"
              },
              {
                value: "Home declared Below Tolerable Standard or has a closing order",
                text: "Home declared Below Tolerable Standard or has a closing order"
              },
              {
                value: "Can’t afford to pay rent",
                text: "Can’t afford to pay rent"
              },
              {
                value: "Medical condition made worse by my current housing",
                text: "Medical condition made worse by my current housing"
              },
              {
                value: "Problems getting around my home due to disability",
                text: "Problems getting around my home due to disability"
              },
              {
                value: "Home is overcrowded",
                text: "Home is overcrowded"
              },
              {
                value: "Home is too big for me",
                text: "Home is too big for me"
              },
              {
                value: "To be nearer family",
                text: "To be nearer family"
              },
              {
                value: "Social or cultural reasons",
                text: "Social or cultural reasons"
              },
              {
                value: "Other",
                text: "Other reason",
                conditional: {
                  html: detailsHtml
                }
              }
            ]
          }) }}


        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/housing/CBLhouse-type.html"
        }) }}
      

    </div>
</div>

<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:<span class="UR-tag ok">ok to code</span></h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>one wording change for homeless</li>
    <li>need at least one checked: Select at least one reason - or need to have a text in the "Give details" textbox for the Other reason option</li>
    <li>routing changed: now going to house type instead of medical question</li>    
    <li>validation: <span class="govuk-error-message">Select at least one reason for applying </span> <span class="UR-tag red">CHANGED</span></li>
</ul>
</div>

{% endblock %}
