
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Recourse to public fonds
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for Housing
      </h1>
      <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "is-recourse-conditional",
        name: "is-recourse",
        fieldset: {
          legend: {
            text: "Have you been told you have no recourse to public funds?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },      
        hint: {
          text: "This applies to someone under immigration control. It means you're not entitled to benefits, home office asylum support or public housing."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "I don't know",
            text: "I don't know",
            conditional: {
              html: "<p>We could provide more guidance here</p>"
            }
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      <form class="form" method="post">
    </div>
</div>
<div class="design-notes-box">
  <h3 class="govuk-heading-s">Design notes:</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Guidance might be needed.</li>
    <li>If guidance is needed we could maybe add it under a "I don't know" radio button? (to be discussed further with Housing)</li>
  </ul>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
  <p>Not sure if we will add a 3rd radio - guidance might change</p>
  <p>validation: Confirm if no recourse to public funds</p>
</div>
{% endblock %}
