
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  CBL start
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Apply online for Housing
      </h1>
      <p>
          If you need help at anytime you can contact our office at ....  
      </p>

      <p>
          You can find out more about how we handle this information and your rights in respect of it by going to <a href="#">http://www.eastrenfrewshire.gov.uk/housing-service-standards</a>
      </p>
      {% from "warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "Use the back link if you need to go to the previous page. Don't use the back button of your browser or device or you'll need to start again.",
        iconFallbackText: "Warning"
      }) }}
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start now",
        href: "/forms/housing/CBL16.html",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m erc-text-blue">Before you start</h2>
      <p>
          We need to have a warning about the amount of time this form will take and the type of info they need to be able to fill in the form (5 years of addresses history for example) 
      </p>

      </p>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">General notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Guidance should be under the label and above the input field, radio buttons/checkboxes</li>
      <li>Remove the privacy statement on every page as it's on the footer. Might have to be on this page though.</li>
      <li>Back button: only 1 on each page and at the top</li>
      <li>this form will be challenging to complete, no Javascript will make it even worse, might need a specific warning</li>
      <li><strong>some of the changes suggested will impact the error messages. They will need to be changed too!</strong></li>
    </ul>
  </div>

{% endblock %}
