{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Add a person
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Amendment of Housing application
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)" >Back</a>
      
      <h2 class="govuk-heading-m">
          Add a person
      </h2>
    
      <form class="form" method="post" novalidate>
 <p>Will be coded using similar screens and consistent content to CBL</p>
 <ul class="govuk-list govuk-list--bullet">
   <li>name</li>
   <li>dob</li>
   <li>gender</li>
   <li>relationship to you</li>
   <li>become joint applicant</li>
   <li>should we ask for pregnancy?</li>
 
   </ul>

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      </form>
    </div>
</div>


{% endblock %}
