{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Change your name
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Amendment of Housing application
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)" >Back</a>
      
      <h2 class="govuk-heading-m">
          Change your name
      </h2>
    
      <form class="form" method="post" novalidate>
          {% from "input/macro.njk" import govukInput %}
    
          {{ govukInput({
            label: {
              text: "Original name"
            },
            id: "original",
            name: "original",
            value: data['original'],
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukInput({
            label: {
              text: "New name"
            },
            id: "new-name",
            name: "new-name",
            value: data['new-name'],
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukInput({
            label: {
              text: "Reason for change"
            },
            id: "reason",
            name: "reason",
            value: data['reason']
          }) }}
    
          {{ govukDateInput({
            id: "date-change",
            namePrefix: "date-change",
            fieldset: {
              legend: {
                text: "Date of change",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 11 08 2018"
            },
            items:[
                {
                name: 'day',
                value: data['date-change-day'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'month',
                value: data['date-change-month'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'year',
                value: data['date-change-year'],
                classes: "govuk-input--width-4"
                }
                ]
          }) }}


      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      </form>
    </div>
</div>


{% endblock %}
