{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Remove a person
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Amendment of Housing application
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)" >Back</a>
      
      <h2 class="govuk-heading-l">
          Remove a person - person 2
      </h2>
      <p class="govuk-body-l">Enter the details of the person who won't be living with you.</p>

    
      <form class="form" method="post" novalidate>
        {% from "input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-!-font-size-24"
          },
          id: "full-name-person-remove2",
          name: "full-name-person-remove2",
          value: data['full-name-person-remove2'],
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukDateInput({
          id: "dob-person-remove1",
          namePrefix: "dob-person-remove2",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['dob-person-remove2-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['dob-person-remove2-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['dob-person-remove2-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}
  
        {% from "radios/macro.njk" import govukRadios %}
  
        {% set genderHtml %}
        {{ govukInput({
          id: "gender-desc-remove2",
          name: "gender-desc-remove2",
          value: data['gender-desc-remove2'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe gender in another way (optional)"
          }
        }) }}
        {% endset -%}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "gender-remove2",
          name: "gender-remove2",
          fieldset: {
            legend: {
              text: "Gender",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "female",
              text: "Female",
              checked: checked ("gender-remove2", "female")
            },
            {
              value: "male",
              text: "Male",
              checked: checked ("gender-remove2", "male")
            },
            {
              value: "Other",
              text: "Other",
              checked: checked ("gender-remove2", "Other"),
              conditional: {
                html: genderHtml
              }
            }
          ]
        }) }}

  
        {{ govukInput({
          label: {
            text: "Relationship to you",
            classes: "govuk-!-font-size-24"
          },
          id: "relationship-remove2",
          name: "relationship-remove2",
          value: data['relationship-remove2'],
          classes: "govuk-input--width-20"
        }) }}

      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      </form>
    </div>
</div>


{% endblock %}
