
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Amendment of housing application - start
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Amendment of Housing application
      </h1>
      <p><img src="{{ asset_path }}images/housing-logo.PNG" alt="Housing logo" style="height:95px; width:250px"></p>

      <p class="govuk-body-l">
          Use this form if your name or your address have changed, or if you need to add or remove a person from your application
      </p>

      <h2 class="govuk-heading-m erc-text-blue">Before you start</h2>
      <p>
        You need to have:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your Housing application number</li>
        <li>your new address (if applicable)</li>
        <li>the name and date of birth of person to add or remove (if applicable)</li>
      </ul>
      <p>
     
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start now",
        href: "/forms/housing/amendment/start-warning.html",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

  
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Contact</h2>
      <ul class="govuk-list">
      <li>Phone: 0141 577 3001</li>
      <li>Email: <a href="mailto:housingallocationenquiries@eastrenfrewshire.gov.uk">housingallocationenquiries@eastrenfrewshire.gov.uk</a></li>
      </ul>

      <p class="govuk-!-margin-top-9">
          You can find out more about how we handle this information and your rights in respect of it by going to <a href="#">http://www.eastrenfrewshire.gov.uk/housing-service-standards</a>
      </p>

      </p>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>this a very first draft based on the paper form - and <strong>just for illustration</strong>. The content and design would need to be reviewed</li>
      <li><a href="{{ asset_path }}images/amendment.pdf" target="_blank">PDF form for it</a></li>
    </ul>
  </div>

{% endblock %}
