{% extends "layout-ERC.html" %}

{% block pageTitle %}
  warning
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Amendment of Housing application
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)" style="border-bottom-color: white; padding: 5px 10px; background-color: #ffbf47 ">Back</a>
      
      <h2 class="govuk-heading-m">
          Use the back link if you need to go to the previous page
      </h2>
    
      {% from "warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "Don't use the back button of your browser or device or you'll need to start again.",
        iconFallbackText: "Warning"
      }) }}


      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/amendment/name.html",
        classes: "button-primary"
      }) }}
    </div>
</div>


{% endblock %}
