
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Detailss
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        Details
      </h1>
      <p><strong class="govuk-tag black">GDS reference</strong><a href="https://design-system.service.gov.uk/components/details/" target="_blank" rel="noopener">Link to Details</a></p>
      <hr class="govuk-section-break govuk-section-break--l">
      {% from "details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Help with nationality",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.",
  classes: "erc-text-blue"
}) }}
    

    </div>
</div>

{% endblock %}
