
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Components
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        List of the components
      </h1>
      <p>
        Based on GOVUK but adapted for ERC
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="buttons.html">buttons</a></li>
        <li><a href="message-boxes.html">message boxes</a></li>
        <li><a href="#">component2</a></li>
      </ul>

    </div>
</div>

{% endblock %}
