
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Radios buttons
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        Radios buttons
      </h1>
      <p><strong class="govuk-tag black">GDS reference</strong><a href="https://design-system.service.gov.uk/components/radios/" target="_blank" rel="noopener">Link for radio buttons</a></p>
      <hr class="govuk-section-break govuk-section-break--l">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "changed-name",
        name: "changed-name",
        fieldset: {
          legend: {
            text: "Have you changed your name?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l erc-text-blue"
          }
        },
        hint: {
          text: "This includes changing your last name or spelling your name differently."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
    
      <hr class="govuk-section-break govuk-section-break--xl">

      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "Where do you live?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l erc-text-blue "
          }
        },
        items: [
          {
            value: "england",
            text: "England"
          },
          {
            value: "scotland",
            text: "Scotland"
          },
          {
            value: "wales",
            text: "Wales"
          },
          {
            value: "northern-ireland",
            text: "Northern Ireland"
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl">

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Have you changed your name?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l erc-text-blue"
    }
  },
  hint: {
    text: "This includes changing your last name or spelling your name differently."
  },
  errorMessage: {
    text: "Select yes if you have changed your name"
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

    </div>
</div>

{% endblock %}
