
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Upload
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Upload
      </h1>
      <p><strong class="govuk-tag black">GDS reference</strong><a href="https://design-system.service.gov.uk/components/file-upload/" target="_blank" rel="noopener">link for upload</a></p>
      <p>Note that this compotent will look different depending on the browser and device.</p>
      {% from "file-upload/macro.njk" import govukFileUpload %}

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Upload a file",
          classes: "erc-text-blue"
        }
      }) }}
    

    </div>
</div>

{% endblock %}
