{% extends "layout-ERC.html" %}

{% block pageTitle %}
Sexual orientation - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire <span class="UR-tag red">NOT ASKED ON PAPER FORM</span>
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        {% from "radios/macro.njk" import govukRadios %}
        {% from "input/macro.njk" import govukInput %}

        {% set otherHtml %}
        {{ govukInput({
          id: "orien",
          name: "orien",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe your sexual orientation"
          }
        }) }}
        {% endset -%}
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "orientation-conditional",
          name: "orientation",
          fieldset: {
            legend: {
              text: "Which best describes your sexual orientation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Bi/bisexual",
              text: "Bisexual"
            },
            {
              value: "Gay/lesbian",
              text: "Gay/lesbian"
            },
            {
              value: "Heterosexual/straight",
              text: "Heterosexual/straight"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/religion1.html"
        }) }}

    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>sorted in alphabetical order - to test</li>
    </ul>
  </div>
  <div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li>no validation at all, just a textbox opens if select: Other</li>
    </ul>
  </div>

{% endblock %}
