{% extends "layout-ERC.html" %}

{% block pageTitle %}
Equality and diversity 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        <h2 class="govuk-heading-m">
                This questionnaire is anonymous and optional
        </h2>

        <p>We are committed to ensuring that you are treated fairly.</p> 
        <p>By completing this questionnaire, you help us to monitor this.</p> 
        <p>Any information you provide will be only be used to provide statistics for monitoring purposes.</p>
    

        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/identity.html"
        }) }}


    </div>
</div>
<br>
<br>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>you would reach that page via a link on the  confirmation page stating: takes less than 1 minute</strong></li>
    <li>This is based on a document provided by Maureen from Housing - but simplified</li>
    <li>Ideally, we would want a questionnaire for the whole council</li>
    <li>see the longer original <a href="/forms/equal-opportunities/start">start page</a></li>
    </ul>
</div>
<div class="content-notes-box">
    <h3 class="govuk-heading-s">Content notes:</h3>
    <p><strong>not checked by Sharon yet</strong></p>
</div>
{% endblock %}
