{% extends "layout-ERC.html" %}

{% block pageTitle %}
Relationship status - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        {% from "radios/macro.njk" import govukRadios %}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "status",
          name: "status",
          fieldset: {
            legend: {
              text: "What is your relationship status?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Married",
              text: "Married"
            },
            {
              value: "Civil partner",
              text: "Civil partner"
            },
            {
              value: "Separated",
              text: "Separated"
            },
            {
              value: "Single",
              text: "Single"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/orientation.html"
        }) }}

    </div>
</div>


{% endblock %}
