@import "node_modules/govuk-frontend/settings/all";

// Override the govuk-frontend font stack - No: I want to keep the nta font
// $govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove canvas background colour, as is used with the GOV.UK Footer.
//$govuk-canvas-background-colour: $govuk-body-background-colour;

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

///////////////////////////////////////////////// from ------ >   application

// Patterns that aren't in Frontend
//@import "patterns/check-your-answers";
//@import "patterns/task-list";
//@import "patterns/related-items";

// Components that aren't in Frontend
// @import "components/cookie-banner";

//////////////////////////////////////////////// end

$erc-text-blue : #004269; 
$erc-logo-blue: #0071BA;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

//---------------------------------------- HEADER ------------------------------------------------//

.erc-service-name {
    font-size: 36px;
    color: white; 
    background-color: $erc-logo-blue;
    padding: 5px 20px;
    font-weight: 700;
}

//---------------------------------------- FOOTER ------------------------------------------------//
footer {
    .ft {
        font-size: 16px;
        color:  white; //#345663;
    }
    .ft-address {
        border-top: 1px solid #99baca;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .ft-right {
        font-size: 16px;
        color:  white; // #345663;
        //text-align: right;
        margin: 0 10px;
    }
}


//---------------------------------------- BODY------------------------------------------------//

body p {
    color: $erc-text-blue;
}

.erc-text-blue {
    color: $erc-text-blue;
}

.menu {
    font-family: "nta", Arial, sans-serif;
    margin-bottom: 4px;

    summary{
        font-weight: 300;
        color: white;
        padding: 5px 0 15px 1em;
        //margin-bottom: 1em;
        background-color:#004269;
        max-width: 20em;
    }
    ul {
        background-color:#ddebf1; 
        max-width: 20em;
        list-style: none;
        padding-left: 16px;
        margin-top: 0;
    }
    li {
        border-bottom: 1px solid white;
        color: #444;
        padding-top: 5px;
    }
    a {
        color: #004269;
    }
}

//-------------------------------------------- Buttons --------------------------------------------------- //

.button-primary {
    background-color : #518418; 
}

.button-secondary {
    background-color : #cecece ;
    color: black;
}

.govuk-button:active.button-secondary, .govuk-button:link.button-secondary, .govuk-button:visited.button-secondary {
    background-color :  #cecece ;
    color: black;
}

.govuk-button:hover.button-secondary, .govuk-button:focus.button-secondary  {
    background-color : #bfc1c3 ;
    color: black;
}


.button-warning {
    background-color : #b10e1e  ;
}

.govuk-button:hover.button-warning {
    background-color : #df3034  ;
}

.govuk-button:focus.button-warning {
    background-color : #df3034 ;
}

// -------------------------------------------- Helpers ------------------------------------------------- //

.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $erc-text-blue;
    margin-bottom: 2em;
}

.design-notes{
    color: red;
    font-style: italic;
    display: none;
  }
  .design-notes-box{
    border: solid 1px red;
    padding: 10px;
    margin: -10px;
    display: none
  }


  .govuk-tag {
      padding: 10px;
      margin-right: 10px;
  }
  .govuk-tag.black {
    padding: 10px 10px 10px 60px;
    background: url(../images/govuk-crown.png) 10px center no-repeat #000;
  }

  .govuk-tag.info {
      background-color: $erc-logo-blue;
  }

  .govuk-tag.red {
    background-color: #b10e1e;
    margin-left: 10px;
    padding: 5px;
}
  
  .panel-warning {
      background-color: #c67f0f;
  }

  .panel-information {
    background-color: #005ea5;
    }

    .panel-error {
        background-color: #B30000;
    }
// --------------------------------------- images - videos --------------------------------------------//
/*
.iframe{
    @media only screen and (max-width: 580px) { 
        width: 280px;
        height: 157px;

    }
}

#frame{
    @media only screen and (max-width: 580px) { 
        width: 280px;
        height: 157px;
    }    
}

.img{
    @media only screen and (max-width: 580px) { 
        max-width: 100%;
        height: auto;
    }
}

*/
//--------------------------------------- message boxes -----------------------------------------------//

.ercError,
.ercInformation,
.ercSuccess,
.ercWarning {
  display: block;
  margin: 15px !important;
  padding: 15px 10px 15px 50px !important;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.ercInformation {
  color: #004269;
  background: url(../images/ERC/erc_information.gif) 10px center no-repeat #bde5f8;
  border: 1px solid #004269;
}
.ercSuccess {
  color: #2d4f2a;
  background: url(../images/ERC/erc_success.gif) 10px center no-repeat #dff2bf;
  border: 1px solid #2d4f2a;
}
.ercWarning {
  color: #782a06;
  background: url(../images/ERC/erc_warning.gif) 10px center no-repeat #feefb3;
  border: 1px solid #782a06;
}
.ercError {
  color: #333333;
  background: url(../images/ERC/erc_error.gif) 10px center no-repeat #ffbaba;
  border: 1px solid #d8000c;
}

.ercInformation.bootstrap {
    color: #31708f;
    background: url(../images/ERC/erc_information.gif) 10px center no-repeat #d9edf7;
    border: 1px solid #bcdff1;
  }
  .ercSuccess.bootstrap {
    color: #3c763d ;
    background: url(../images/ERC/erc_success.gif) 10px center no-repeat #dff0d8;
    border: 1px solid #d0e9c6;
  }
  .ercWarning.bootstrap {
    color: #8a6d3b ;
    background: url(../images/ERC/erc_warning.gif) 10px center no-repeat #fcf8e3;
    border: 1px solid #faf2cc;
  }
  .ercError.bootstrap {
    color: #a94442;
    background: url(../images/ERC/erc_error.gif) 10px center no-repeat #f2dede;
    border: 1px solid #ebcccc;
  }

  .ercInformation.no-border {
    color: #004269;
    background: url(../images/ERC/erc_information.gif) 10px center no-repeat #bde5f8;
    border: 0px;
  }
  .ercSuccess.no-border {
    color: #2d4f2a;
    background: url(../images/ERC/erc_success.gif) 10px center no-repeat #dff2bf;
    border: 0px;
  }
  .ercWarning.no-border {
    color: #782a06;
    background: url(../images/ERC/erc_warning.gif) 10px center no-repeat #feefb3;
    border: 0px;
  }
  .ercError.no-border {
    color: #333333;
    background: url(../images/ERC/erc_error.gif) 10px center no-repeat #ffbaba;
    border: 10px;
  }
//---------------------------------------- BREADCRUMBS ------------------------------------------------//
/* #breadcrumb-erc {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 940px;
    height: auto;
    overflow:auto;
    text-align:left;
    clear:both;
    background: 0 0;
    color: #004269;
    li {
        color: #004269;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    #crumb-home-active {
        width:74px;
        overflow: hidden;
    }
    #crumb-home-active span{
        float:left;
        padding:6px 28px 6px 10px;
        color:#fff;
        background:url(../images/ERC/sprite.png) 0 -59px no-repeat #004269;
        height:21px;
        width:36px;
        font-family: "nta", Arial, sans-serif;
    }
    .crumbs-erc {
        height:100%;
        display:inline;
    }
} */