@import "node_modules/govuk-frontend/settings/all";

// Override the govuk-frontend font stack - No: I want to keep the nta font
// $govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove canvas background colour, as is used with the GOV.UK Footer.
//$govuk-canvas-background-colour: $govuk-body-background-colour;

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";


// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
//@import "patterns/task-list";
//@import "patterns/related-items";
@import "patterns/colour-presentation";

// Components that aren't in Frontend
// @import "components/cookie-banner";
@import "components/buttons";
@import "components/images-videos";
@import "components/message-boxes";
@import "components/breadcrumbs";


$erc-text-blue : #004269; 
$erc-logo-blue: #0071BA;
$erc-green-border: #008000;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

//---------------------------------------- HEADER ------------------------------------------------//

.erc-service-name {
    font-size: 36px;
    color: white; 
    background-color: $erc-logo-blue;
    padding: 5px 20px;
    font-weight: 700;
}

//---------------------------------------- FOOTER ------------------------------------------------//
footer {
    .ft {
        font-size: 16px;
        color:  white; //#345663;
    }
    .ft-address {
        border-top: 1px solid #99baca;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .ft-right {
        font-size: 16px;
        color:  white; // #345663;
        //text-align: right;
        margin: 0 10px;
    }
}

//---------------------------------------- BODY------------------------------------------------//

body p {
    color: $erc-text-blue;
}

.menu {
    font-family: "nta", Arial, sans-serif;
    margin-bottom: 4px;

    summary{
        font-weight: 300;
        color: white;
        padding: 5px 0 15px 1em;
        //margin-bottom: 1em;
        background-color: $erc-text-blue;
        max-width: 20em;
    }
    ul {
        background-color:#ddebf1; 
        max-width: 20em;
        list-style: none;
        padding-left: 16px;
        margin-top: 0;
    }
    li {
        border-bottom: 1px solid white;
        color: #444;
        padding-top: 5px;
    }
    a {
        color: $erc-text-blue;
    }
}


// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $erc-text-blue;
    margin-bottom: 2em;
}

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-list , .erc-text-blue {
    color: $erc-text-blue;
}


.govuk-link, a, .govuk-link:link, a:link {
    color: 	#0000ee;
}
#logo-erc:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


// not implemented as it messes up the hover and is close enough anyway
// .govuk-link:visited, a:visited {
//     color: #551a8b; 
// }

// not done - doesn't seem very accessible
// .govuk-link:hover, a:hover {
//     color: #ffffff;
//     background: #444
// }

.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #B30000 
}
.govuk-form-group--error {
    border-left: 5px solid #B30000;
}
// not done - doesn't seem very accessible and specific to link so not consistent
//.govuk-link:focus, .govuk-link:active, a:focus, a:active {
//     background-color: #444; 
//     color: #b9ff06 important!;
// }


// -------------------------------------------- Helpers ------------------------------------------------- //


.validated {
    border: 2px solid #008000;
}

.input-read-only {
    background: #ececec;
}

.design-notes{
    color: red;
    font-style: italic;
    display: none;
  }
  .design-notes-box{
    border: solid 1px red;
    padding: 10px;
    margin: -10px;
    display: none
  }

  .govuk-tag {
      padding: 10px;
      margin-right: 10px;
  }
  .govuk-tag.black {
    padding: 10px 10px 10px 60px;
    background: url(../images/govuk-crown.png) 10px center no-repeat #000;
  }

  .govuk-tag.info {
      background-color: $erc-logo-blue;
  }

  .govuk-tag.red {
    background-color: #b10e1e;
    margin-left: 10px;
    padding: 5px;
}
