# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/*
.tmuxp.*
package-lock.json
#added to fix the transport font cache issue https://github.com/alphagov/govuk-prototype-kit/pull/627/files
app/version.txt
