
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Current postcode
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          What is your current address?
      </h1>

      <form class="form" method="post">
      {% from "warning-text/macro.njk" import govukWarningText %}
      {% from "input/macro.njk" import govukInput %}
     <noscript>
        {{ govukWarningText({
          text: "JavaScript is disabled on your device. Enable Javascript or use the link: My postcode is not recognised",
          iconFallbackText: "Warning"
        }) }}
        </noscript>

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        hint: {
          text: "This is where we'll send letters."
        },
        classes: "govuk-input--width-10",
        id: "current-postcode",
        name: "current-postcode",
        value: data['current-postcode']
      }) }}

      {{ govukButton({
        "text": "Find my address"
        }) }}
      </form>

    <p><a href="manual-address.html">My postcode is not recognised</a></p>
    </div>
</div>

{% endblock %}