
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Summary
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">
        Summary
      </h1>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <h2 class="govuk-heading-m sum-heading">Your details</h2>
      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Are you moving house before term starts?
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['moving'] }}
            </dd>
          </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Address
          </dt>
          <dd class="app-check-your-answers__answer">
            21 Forres avenue<br>
            G46 6LH - Giffnock
          </dd>
        </div>

        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Parent or carer's name
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['parent-first-name'] }}&nbsp;{{ data['parent-last-name'] }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Phone number
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['phone'] }}
          </dd>
        </div>
      
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Email
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['email'] }}
          </dd>
        </div>  
      </dl>
      <p class="govuk-!-padding-bottom-4"><a href="/forms/education-alternative/moving.html">Edit your details<span class="govuk-visually-hidden">Edit your details</span></a></p>
      
      <h2 class="govuk-heading-m sum-heading">P1 child's details</h2>
      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['child-first-name'] }}&nbsp;
              {% if data['child-middle-name']%}
                {{ data ['child-middle-name'] }}
              {% endif %}
              {{ data['child-last-name'] }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
          </dd>
        </div>
      
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Gender
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['gender'] }}
          </dd>
        </div>
            
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
              Current nursery
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['nursery'] }}
          </dd>
        </div>    
        <div class="app-check-your-answers__contents sum-grey">
            <dt class="app-check-your-answers__question">
                Do you want to defer your child starting school?
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['defer'] }}
            </dd>
          </div>     
      </dl>
      <p class="govuk-!-padding-bottom-4"><a href="/forms/education-alternative/child-name.html">Edit P1 child's details<span class="govuk-visually-hidden">Edit P1 child's details</span></a></p>

      <h2 class="govuk-heading-m sum-heading">School</h2>
      <dl class="app-check-your-answers app-check-your-answers--long">
        {% if data['school'] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
              Select one school
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['school'] }}
          </dd>
        </div>
        {% endif %}
        {% if data['catchment-school-manual'] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
              Do you know your catchment school?
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['catchment-school-manual'] }}
          </dd>
        </div>
        {% endif %}

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Select a 2nd choice school
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['2nd-school'] }}
            </dd>
          </div>

        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
              Does your child have a medical condition that needs support offered at this school?
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['medical'] }}
          </dd>
        </div>
        {% if  data['medical'] === 'yes' %}
        <div class="app-check-your-answers__contents sum-grey">
            <dt class="app-check-your-answers__question">
                Give details of their medical condition
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['more-detail'] }}
            </dd>
          </div>
          {% endif %}
             
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Are you a single parent or carer?
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['single'] }}
          </dd>
        </div>    
        {% if  data['single'] === 'yes' %}
        <div class="app-check-your-answers__contents sum-grey">
            <dt class="app-check-your-answers__question">
                Give details if it would help the care of your child to go to the catchment school
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['single-detail'] }}
            </dd>
          </div>
          {% endif %}  
      </dl>
      <p class="govuk-!-padding-bottom-4"><a href="/forms/education-alternative/info.html">Edit school details<span class="govuk-visually-hidden">Edit school details</span></a></p>

      <h2 class="govuk-heading-m sum-heading">Sibling(s)</h2>
      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
              Sibling(s) at the school when they start?
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['sibling'] }}
          </dd>
        </div>

        {% if data['sibling'] === 'yes' %}
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Oldest child's name
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['oldest-first-name'] }}&nbsp;{{ data['oldest-last-name'] }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Sibling's stage when the child starts school
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['sibling-stage'] }}
          </dd>
        </div>
        {% endif %}
     
      </dl>
      <p class="govuk-!-padding-bottom-4"><a href="/forms/education-alternative/sibling.html">Edit sibling's details<span class="govuk-visually-hidden">Edit sibling's details</span></a></p>

     
      <h2 class="govuk-heading-m">Now send your response</h2>
      <p>By submitting you are confirming that, to the best of your knowledge, the details you're providing are correct.</p>
      {{ govukButton({
        text: "Accept and submit your answers",
        href: "/forms/education-alternative/confirmation.html",
        classes: "button-primary"
      }) }}


    </div>
</div>

{% endblock %}
