{% extends "layout-ERC.html" %}

{% block pageTitle %}
Confirmation - Available properties 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
                Available properties 
        </h1>
     
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Bid Submitted for Montgomerie court
            </h1>
            <div class="govuk-panel__body">
                If you're successful we'll contact you within 2 days of the closing date.
            </div>
        </div>
<br>
<br>
<br>
<br>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes: <span class="UR-tag ok">ok to code as content agreed</span></h3>
        <ul class="govuk-list govuk-list--bullet">
        <li>display the name of the property selected in the radio buttons at the end</li>
        <li>As we can't know if we 're sending an email (we would need to access a database with the contact details stored in it), we can't display a warning to check their spam</li>
        <li><strong>agreed by Housing 18/01 </strong></li>
        </ul>
    </div>
    
    </div>
</div>
{% endblock %}
