
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Date of Birth
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>

      <form class="form" method="post">
      {% from "date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Child date of birth",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 11 08 2014"
        },
        items:[
            {
            name: 'day',
            value: data['dob-day'],
            classes: "govuk-input--width-2"
            },
            {
            name: 'month',
            value: data['dob-month'],
            classes: "govuk-input--width-2"
            },
            {
            name: 'year',
            value: data['dob-year'],
            classes: "govuk-input--width-4"
            }
            ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>The date should be validated. If it's not correct, only one error message should be displayed</p>
    <ul class="govuk-list govuk-list--number">
      <li>check the 3 fields have been completed, if not, error is: Enter your child birth date</li>
      <li>check if the date is valid date (for example: no 31 of April), if not, error is: The date is not valid</li> 
      <li>check the date is within the range 01/03/2013 – 28/02/2015 if not: Date must be between 1 03 2013 and 28 02 2015 </li>
  </ul>
</div>

{% endblock %}