
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Child name
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Child first name",
          classes: "govuk-!-font-size-27"
        },
        id: "child-first-name",
        name: "child-first-name",
        value: data ['child-first-name'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Child middle name (optional)",
          classes: "govuk-!-font-size-27"
        },
        id: "child-middle-name",
        name: "child-middle-name",
        value: data ['child-middle-name'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Child last name",
          classes: "govuk-!-font-size-27"
        },
        id: "child-last-name",
        name: "child-last-name",
        value: data ['child-last-name'],
        classes: "govuk-input--width-20"
      }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>We are keeping the middle name as some parents really want to have the middle name and would otherwise type it in the first name input field. As a result we will also add the middle name for the sibling for consistency.</p>
          <p>Note that this is not used internally. It should appear on the summary, but is there any possibility that it is not transmitted to GOSS when the date is exported?</p>
          
      </div>
    </div>
</div>

{% endblock %}