
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Gender
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "gender",
        name: "gender",
        value: data['gender'],
        fieldset: {
          legend: {
            text: "What's the P1 child's gender?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "female",
            text: "Female"
          },
          {
            value: "male",
            text: "Male"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>

    </div>
</div>

{% endblock %}