
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Child name
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          What is the P1 child name?
      </h1>

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Child's first name"
        },
        id: "child-first-name",
        name: "child-first-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Child's middle name (optional)"
        },
        id: "child-middle-name",
        name: "child-middle-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Child's last name"
        },
        id: "child-last-name",
        name: "child-last-name"
      }) }}


      {{ govukButton({
        "text": "Continue",
        href: "/forms/education/child-dob.html"
        }) }}

    </div>
</div>

{% endblock %}