
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}


{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Application submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number is
          <br><strong>1346-7895-4445-7023</strong><br><br>
          We’ve sent an email to confirm your application and the next steps to <strong> {% if data['email'] %}{{ data['email']}}{% else %}parent.email@gmail.com{% endif%}</strong>
        </div>
      </div>

        <!--p>If you don't receive our email in the next 5 minutes, please check your SPAM folder.</p-->
    <p>&nbsp;</p>

    {% if data['defer'] === 'yes' %}
    {{ govukButton({
      text: "Find out the next steps when you defer",
      href: "https://www.eastrenfrewshire.gov.uk/article/9948/Apply-for-primary-1-proof-of-circumstances",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}
    {% else %}
    {{ govukButton({
      text: "Find out the next steps of the application process",
      href: "https://www.eastrenfrewshire.gov.uk/article/9948/Apply-for-primary-1-proof-of-circumstances",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}
    {% endif %}

    </div>
  </div>

{% endblock %}


