
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}


{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <p>Thank you for submitting your form.</p>

    <p>We've sent you a confirmation email.</p>

    <p>Find out <a href="#">what you need to do next</a>.</p>

    <p>Admissions Team.</p>
      <p class="govuk-!-margin-top-9">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}


