
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Defer
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "defer",
        name: "defer",
        value: data['defer'],
        fieldset: {
          legend: {
            text: "Do you want to defer your child starting school?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>guidance will be provided - there are 5 paragraphs just now...</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>may be an information page before this page for everyone, or</li>
            <li>content but below the green button here? or</li> 
            <li>if they select yes, we show the content and ask them to confirm they still want to defer after reading it?</li>    
          </ul>
      </div>
    </div>
</div>

{% endblock %}