
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  School selection
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

     <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "school",
        name: "school",
        fieldset: {
          legend: {
            text: "Select one school",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Saint school example (denominational)",
            text: "Saint school example (denominational)"
          },
          {
            value: "School example (non denominational)",
            text: "School example (non denominational)"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>List of the schools from CAG to be double checked to see if we can remove abbreviations, or Thomas's instead of Thomass at the moment and make sure each name is exactly as the list we have for the alternative school, to avoid the school being present again in the second list. Heather will contact the person who can check this.</p>
      </div>
    </div>
</div>

{% endblock %}