
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  School selection
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
     <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "school",
        name: "school",
        fieldset: {
          legend: {
            text: "Select a school",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Saint school example (denominational)",
            text: "Saint school example (denominational)"
          },
          {
            value: "School example (non denominational)",
            text: "School example (non denominational)"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>need confirmation for the question: "Select your preferred catchment school" or "Select a school"</p>
          <p>List of the schools from CAG to be double checked make sure each name is exactly as the list we have for the alternative school, to avoid the school being present again in the second list.</p>
          <p>Scott has a way to display differently from CAG - he has managed it for OLM and could do it for Thomas too

          </p>
      </div>
    </div>
</div>

{% endblock %}