
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Error - Email
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post" novalidate>
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Email",
          classes: "govuk-!-font-size-24"
        },
        hint: {
          text: "We'll use this to confirm your application and what you need to do next."
        },
        errorMessage: {
          text: "Enter email address "
        },
        id: "email",
        name: "email",
        value: data['email'],
        type: "email",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}