
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Information
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
        
        <p><strong>Sometimes more children apply to a school than we have places for.</strong></p> 

        <p><strong>If this happens we allocate places by priority. We now need to ask for extra information to find out more about your circumstances.</strong></p> 
        
        <p><strong>We ask for proof of any information you give us.</strong></p>


      {{ govukButton({
        "text": "Continue",
        href: "/forms/education/sibling.html"
        }) }}

    </div>
</div>
<div class="alt-notes-box">
    <p><a href="/forms/education/info.html"><strong>first screen</strong></a></p>
</div>


{% endblock %}