
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Deferred entry
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
                Deferred Entry
        </h1>
        <p>If your child reaches the age of five in January or February (after the August in which they are supposed to start their primary education), you may choose to defer entry until the following academic year. A fully funded nursery place will be available for such children.</p>
        <p>If your child reaches the age of five between the start of the new academic session in August and the end of December, you may also choose to defer entry for a year however, a funded nursery place will not automatically be provided. </p>
        <p>If you intend to defer commencement of your child’s primary education, you should still apply to register your child in your catchment primary school and advice the Head Teacher of your intention to defer entry. The appropriate paperwork will then be completed and returned to the Education Department for processing.</p>
        <p>Should your child’s deferred entry be confirmed, it will be assumed that you will not require the P1 place for the commencement of the academic year for which the deferral was submitted; should you change your mind on deferring your child before the start of the academic year, there is no guarantee that a place will be available in your preferred catchment school.</p>
        <p>If you defer your child’s entry to primary education, you are required to apply for a place in your preferred catchment school in January of the deferral year in order to be considered for a P1 place commencing the next academic year in August. This application will be treated as a new application to register your child and will be treated equally along with all other applications submitted as part of the Normal Placing Round. </p>
    </div>
</div>

{% endblock %}