
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  The next steps
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <h2 class="govuk-heading-m">
          The next steps
        </h2>
        <p>Content of the pdf displayed here as text</p>
        

      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>The text will be the same as the body of the email if email sent. Two versions (one specific to Maidenhill)</p>
          <p>This is personalised</p>
      </div>
    </div>
</div>

{% endblock %}