
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Information
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
        
        <p><strong>We can’t guarantee a place at your catchment school.</strong></p> 

        <p><strong>We need to ask for extra information in case we need to prioritise places.</strong></p> 
        
        <p><strong>We’ll ask for proof of details you give.</strong></p>


      {{ govukButton({
        "text": "Continue",
        href: "/forms/education/sibling.html"
        }) }}

    </div>
</div>
<div class="alt-notes-box">
    <p><a href="/forms/education/info1.html"><strong>alternative screen</strong></a></p>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>good to go</p>
</div>
<div class="UR-notes-box">
    <h3 class="govuk-heading-s">User Research notes:</h3>
    <p>users didn't really read it...</p>
</div>

{% endblock %}