
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Information
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 August 2019
        </h1>
      <h2 class="govuk-heading-m">
          If you catchment school is full
        </h2>
      <p>We need some further information in case your catchment school is full.</p>
      <p>We’ll ask you to provide proof of these answers later in the process.</p>

      {{ govukButton({
        "text": "Continue",
        href: "/forms/education/school-2nd.html"
        }) }}

      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>The content will be different, this is just to illustrate that we will address the priorities grouped after this point, with some guidance here. This is the screen just before selecting the alternative school so we will need to explain here briefly what happen is they pick another school, if they select None (you could be in any school) and that they can't pick the same school again.</p>
          <p>After this page, we remove all texts which was there previously mentioning "if your catchment school is full" to avoid adding stress by repetition.</p>
      </div>
    </div>
</div>

{% endblock %}