
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Medical details
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
        <form class="form" method="post">
        {% from "textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          value: data['more-detail'],
          label: {
            text: "Give details of their medical condition",
            classes: "govuk-!-font-size-27"
          }
        }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
    </div>
</div>

{% endblock %}