
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Medical
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "medical",
        name: "medical",
        value: data['medical'],
        fieldset: {
          legend: {
            text: "Does your child have a medical condition that needs support offered at this school?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <ul class="govuk-list govuk-list--bullet">
              <li>This will be re-worded to make sure parents understand why we ask and what conditions are relevant or not - it should be question 2 of the priority questions (Heather)</li>
              <li>Revise the wording to reflect original question on current application form  (Heather)</li>
              <li>We could ask if the GP has been involved and prepared the notes for the school as it could be an indicator that we do need to know about it.</li>
              <li>We could have another question after this one asking if a medical practitioner has seen the child etc...? yes/no and if yes go to Give details</li>

            </ul>
          <p></p>
          <p></p>
          <p></p>
      </div>
    </div>
</div>

{% endblock %}