
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Medical
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "medical-evidence",
        name: "medical-evidence",
        value: data['medical-evidence'],
        fieldset: {
          legend: {
            text: "Do you have evidence from a medical professional? ",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>good to go </li>
    </ul>
</div>

{% endblock %}