
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Moving date
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>

      <form class="form" method="post">
          <h1 class="govuk-heading-l">
              
          </h1>
    
          <p></p>
    
    {% from "date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "moving-date",
      namePrefix: "moving-date",
      value: data['moving-date'],
      fieldset: {
        legend: {
          text: "When do you move into your new address?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 31 3 2019"
      },
      items:[
      {
      name: 'day',
      value: data['moving-date-day'],
      classes: "govuk-input--width-2"
      },
      {
      name: 'month',
      value: data['moving-date-month'],
      classes: "govuk-input--width-2"
      },
      {
      name: 'year',
      value: data['moving-date-year'],
      classes: "govuk-input--width-4"
      }
      ]
    }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>The date should be validated. If it's not correct, only one error message should be displayed</p>
    <ul class="govuk-list govuk-list--number">
      <li>check the 3 fields have been completed, if not, error is: Enter date move into new address</li>
      <li>check if the date is valid date (for example: no 31 of April), if not, error is: The date is not valid</li> 
      <li>check the date is after the day they apply, but not deadline in the future, it can be after the start of the term.</li>
  </ul>
</div>

{% endblock %}