
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Nursery
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">

          {% from "radios/macro.njk" import govukRadios %}
          {% from "input/macro.njk" import govukInput %}


          {% set othernurseryHtml %}
          {{ govukInput({
            id: "other-nursery",
            name: "other-nursery",
            value: data['other-nursery'],
            label: {
              text: "Enter the name and address of the nursery"
            }
          }) }}
          {% endset -%}


          {{ govukRadios({
            idPrefix: "nursery-conditional",
            name: "nursery",
            value: data['nursery'],
            fieldset: {
              legend: {
                text: "What nursery does your child go to?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "None",
                text: "None"
              },
              {
                value: "Arthurlie Family Centre",
                text: "Arthurlie Family Centre"
              },
              {
                value: "Braidbar Nursery Class",
                text: "Braidbar Nursery Class"
              },
              {
                value: "Busby Nursery Class",
                text: "Busby Nursery Class"
              },
              {
                value: "Calderwood Lodge Nursery Class",
                text: "Calderwood Lodge Nursery Class"
              },
              {
                value: "Carlibar Family Centre",
                text: "Carlibar Family Centre"
              },
              {
                value: "Carolside Nursery Class",
                text: "Carolside Nursery Class"
              },
              {
                value: "Cart Mill Family Centre",
                text: "Cart Mill Family Centre"
              },
              {
                value: "Crookfur Nursery Class",
                text: "Crookfur Nursery Class"
              },
              {
                value: "Eaglesham Nursery Class",
                text: "Eaglesham Nursery Class"
              },
              {
                value: "Giffnock Nursery Class",
                text: "Giffnock Nursery Class"
              },
              {
                value: "Glen Family Centre",
                text: "Glen Family Centre"
              },
              {
                value: "Glenwood Family Centre",
                text: "Glenwood Family Centre"
              },
              {
                value: "Hazeldene Family Centre",
                text: "Hazeldene Family Centre"
              },
              {
                value: "Isobel Mair Family Centre",
                text: "Isobel Mair Family Centre"
              },
              {
                value: "Madras Family Centre",
                text: "Madras Family Centre"
              },
              {
                value: "McCready Family Centre",
                text: "McCready Family Centre"
              },
              {
                value: "Mearns Nursery Class",
                text: "Mearns Nursery Class"
              },
              {
                value: "Netherlee Nursery Class",
                text: "Netherlee Nursery Class"
              },
              {
                value: "Thornliebank Nursery Class",
                text: "Thornliebank Nursery Class"
              },
              {
                value: "Another nursery",
                text: "Another nursery",
                conditional: {
                  html: othernurseryHtml
                }
              }
            ]
          }) }}
      {% from "input/macro.njk" import govukInput %}


      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>New content</p>
          <p>To view the same content but <a href="/forms/education/nursery1.html"><strong>with a dropdown list</strong></a></p>
      </div>
    </div>
</div>

{% endblock %}