
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  P1 registration form start
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for primary 1 August 2019
      </h1>

      <h2 class="govuk-heading-m">Before you start</h2>
      <p>Use this form:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>to apply for primary 1 enrolment only</li>
          <li>if you live in East Renfrewshire and are applying to enrol at your catchment school. For other schools, apply for a placing request</li>
          <li>to enrol if your catchment school even if you're applying to defer primary 1 entry for your child</li>
          <li>to enrol at your catchment school even if you're moving house and later need to apply to another school</li>
          <li>if you have parental rights and responsibilities for the child</li>
       </ul>
       <p class="govuk-!-padding-top-4">You can find out how we use your information in our <a href="/privacy.html">privacy statement</a>.</p>

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start now",
        href: "/forms/education/declaration.html"
      }) }}

  
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>content of this page to be redrafted, add warning about only using the back link in the form, and unable to edit(?) - remove enrolment term</p>
          <p>PLEASE NOTE: on the following pages I didn't put a heading "Apply etc..." but there will be one, and we want to remove the privacy statement as it's in the footer - to confirm with Sarah Jane probably.</p>
      </div>
    </div>
</div>

{% endblock %}