
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  P1 registration form start
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for primary 1 - August 2019
      </h1>
      <p>This a 2 stage process. You must apply online by 11 January 2019. We’ll then ask you to take proof of your details to the school between 14 and 18 January 2019.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6" style="color: #0071AB">Step 1: Apply online</h2>

      <h2 class="govuk-heading-m">Before you start</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>you should <a href="http://www.eastrenfrewshire.gov.uk/CHttpHandler.ashx?id=19102&p=0" target="_blank">read the admissions policy</a></li> 
          <li>you can only apply to your catchment school</li>
          <li>you still need to apply to your catchment school if you <a href="https://www.eastrenfrewshire.gov.uk/article/8594/School-Placing-Request target="_blank"">make a placing request</a>, later move house or <a href="/forms/education/info-defer.html">defer entry</a></li>
          <li>closing date is 11 January 2019 at 4pm</li>
       </ul>
       {% from "warning-text/macro.njk" import govukWarningText %}

       {{ govukWarningText({
         text: "Use the back link if you need to go to the previous page. Don't use the back button of your browser or device or you'll need to start again.",
         iconFallbackText: "Warning"
       }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start now",
        href: "/forms/education/declaration1.html"
      }) }}
      
       <h2 class="govuk-heading-m govuk-!-margin-top-6" style="color: #0071AB">Step 2: Provide proof of details</h2>
       <p><strong>Date:</strong> From 14 to 18 January 2019</p>
       <p><strong>Time:</strong> Between 1.45pm and 3.30pm</p>
       <p><strong>Place:</strong> School office</p>
        <p>You don’t need to make an appointment. </p>
        <p><strong>Documents you need to bring</strong></p>
        <p>These must be original documents. School office staff will take a copy and return them.</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>child's birth certificate</li>
            <li>current Council Tax notice</li>
            <li>Roman Catholic baptism certificate (if applying to a Roman Catholic school)</li>
            <li>mortgage statement or rent agreement covering the last year</li>
            <li>Child Benefit statement</li>
            <li>if you don’t get Child Benefit, you can bring a Driving licence, utility bill or bank statement</li> 
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-6" style="color: #0071AB">When you’ll hear from us </h2>
        <p>We’ll write to you by 31 March 2019.</p>
        
        <h2 class="govuk-heading-m" style="color: #0071AB">Contact</h2>
        <p>Phone: 0141 577 3246</p>
        <p>Email: admissions@eastrenfrewshire.gov.uk</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6" style="color: #0071AB">Related information </h2>
          <p><a href="https://www.eastrenfrewshire.gov.uk/article/8594/School-Placing-Request" target="_blank">Make a placing request</a></p>
          <p><a href="/forms/education/info-defer.html">Defer your child starting school</a></p>
          <p><a href="http://www.eastrenfrewshire.gov.uk/CHttpHandler.ashx?id=19102&p=0" target="_blank">How to apply for other primary stages</a></p>


       <p class="govuk-!-padding-top-4">You can find out how we use your information in our <a href="/privacy.html">privacy statement</a>.</p>


    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>This content will change again - we'll need to separate step 1 and 2 on different pages</li> 
    </ul>
</div>
<div class="UR-notes-box">
    <h3 class="govuk-heading-s">User Research notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>no one saw the warning about using the back link only...</li> 
        <li>one opened the admission policy link and was confused about it being also for secondary</li>
        <li>making a placing request also confused her</li>
    </ul>
</div>

{% endblock %}