
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Parent or carer
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Parent or carer first name",
          classes: "govuk-!-font-size-27"
        },
        id: "parent-first-name",
        name: "parent-first-name",
        value: data['parent-first-name'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Parent or carer last name",
          classes: "govuk-!-font-size-27"
        },
        id: "parent-last-name",
        name: "parent-last-name",
        value: data['parent-last-name'],
        classes: "govuk-input--width-20"
      }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}