
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Phone
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Phone",
          classes: "govuk-!-font-size-27"
        },
        id: "phone",
        name: "phone",
        value: data['phone'],
        type: "tel",
        classes: "govuk-input--width-10"
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}
    </form>

    </div>
</div>

{% endblock %}