
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Postcode
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Apply online for primary 1 - August 2019
      </h1>
      <h2 class="govuk-heading-m">
          Property postcode
      </h2>

      <form class="form" method="post">
      {% from "warning-text/macro.njk" import govukWarningText %}
      {% from "input/macro.njk" import govukInput %}

      {{ govukWarningText({
        text: "JavaScript is blocked on your device. You need to allow JavaScript to start the form. ",
        iconFallbackText: "Warning"
      }) }}


      {{ govukInput({
        classes: "govuk-input--width-10",
        id: "postcode",
        name: "postcode",
        value: data['postcode'],
        hint: {
          text: "Use postcode of child’s address at start of term."
        }
      }) }}

      {{ govukButton({
        "text": "Find my address"
        }) }}
      </form>
      <p>For new build homes without a postcode phone us on 0141 577 3246.</p>

    </div>
</div>

{% endblock %}