
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Error - Postcode
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Apply online for primary 1 - August 2019
      </h1>
      <h2 class="govuk-heading-m">
          Property postcode
      </h2>

      <form class="form" method="post">
      {% from "warning-text/macro.njk" import govukWarningText %}
      {% from "input/macro.njk" import govukInput %}
     <noscript>
        {{ govukWarningText({
          text: "JavaScript is disabled on your device. Enable Javascript to apply",
          iconFallbackText: "Warning"
        }) }}
        </noscript>

      {{ govukInput({
        classes: "govuk-input--width-10",
        id: "postcode",
        name: "postcode",
        value: data['postcode'],
        hint: {
          text: "Use postcode of child’s address at start of term."
        },
        errorMessage: {
          text: "Unfortunately, we cannot find your address. Please phone the Education Admissions Team on 0141 577 3246 for advice."
        }
      }) }}

      {{ govukButton({
        "text": "Find my address"
        }) }}
      </form>
      <p>If you don't have a postcode, please phone the Education Admissions Team on 0141 577 3246 for advice.</p>

    <!--p><a href="manual-address.html">My postcode is not recognised</a></p-->
    <div class="design-notes-box">
        <h3 class="govuk-heading-s">Design notes:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Has to be an ERC postcode</li>
          <li>Maidenhill is not treated differently</li>
          <li>If the address is not found (new houses in ERC), we will have the same message for everyone: <strong>"Unfortunately, we cannot find your address. Please phone the Education Admissions Team on 0141 577 3246 for advice."</strong> to see it, enter 'error'</li>
          <li>If a user has no postcode to enter, we should display a message so they know they should call us</li>
          <li>We should also have a specific message if the user doesn't have Javascript enabled as they won't be able to go further. <a href="/forms/education/postcode-js.html"><strong>See an example.</strong></a></li>
        </ul>
    </div>
    </div>
</div>

{% endblock %}