
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Postcode
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Property
      </h1>
    

    {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Building number (optional)"
        },
        classes: "govuk-input--width-5 validated input-read-only",
        id: "addr-number",
        name: "addr-number",
        value: "21"
      }) }}

      {{ govukInput({
        label: {
          text: "Street"
        },
        classes: "govuk-input--width-20 validated input-read-only",
        id: "addr-street",
        name: "addr-street", 
        value: "Forres Avenue"
      }) }}

      {{ govukInput({
        label: {
          text: "Town"
        },
        classes: "govuk-input--width-10 validated input-read-only",
        id: "addr-town",
        name: "addr-town",
        value: "Giffnock"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10 validated input-read-only",
        id: "addr-postcode",
        name: "addr-postcode", 
        value: "G46 6LH"
      }) }}

      {{ govukButton({
        "text": "Continue",
        href: "/forms/education/moving.html"
        }) }}
      <!--p><a href="postcode.html">Change my address</a></p-->

    </div>
</div>

{% endblock %}