
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  2nd school choice
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
          {% from "radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "2nd-school",
            name: "2nd-school",
            fieldset: {
              legend: {
                text: "Choose preferred alternative school",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Braidbar Primary School",
                text: "Braidbar Primary School"
              },
              {
                value: "Busby Primary School",
                text: "Busby Primary School"
              },
              {
                value: "Carlibar Primary School",
                text: "Carlibar Primary School"
              },
              {
                value: "Crookfur Primary School",
                text: "Crookfur Primary School"
              },
              {
                value: "Cross Arthurlie Primary School",
                text: "Cross Arthurlie Primary School"
              },
              {
                value: "Eaglesham Primary School",
                text: "Eaglesham Primary School"
              },
              {
                value: "Giffnock Primary School",
                text: "Giffnock Primary School"
              },
              {
                value: "Hillview Primary School",
                text: "Hillview Primary School"
              },
              {
                value: "Kirkhill Primary School",
                text: "Kirkhill Primary School"
              },
              {
                value: "Maidenhill Primary School",
                text: "Maidenhill Primary School"
              },
              {
                value: "Mearns Primary School",
                text: "Mearns Primary School"
              },
              {
                value: "Neilston Primary School",
                text: "Neilston Primary School"
              },
              {
                value: "Netherlee Primary School",
                text: "Netherlee Primary School"
              },
              {
                value: "Our Lady of the Missions Primary School",
                text: "Our Lady of the Missions Primary School"
              },
              {
                value: "St Cadoc's Primary School",
                text: "St Cadoc's Primary School"
              },
              {
                value: "St Clare's Primary School",
                text: "St Clare's Primary School"
              },
              {
                value: "St John's Primary School",
                text: "St John's Primary School"
              },
              {
                value: "St Joseph's Primary School",
                text: "St Joseph's Primary School"
              },
              {
                value: "St Mark's Primary School",
                text: "St Mark's Primary School"
              },
              {
                value: "St Thomas' Primary School",
                text: "St Thomas' Primary School"
              },
              {
                value: "Thornliebank Primary School",
                text: "Thornliebank Primary School"
              },
              {
                value: "Uplawmoor Primary School",
                text: "Uplawmoor Primary School"
              },
              {
                value: "None",
                text: "None"
              }
            ]
          }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}

    </form>
    </div>
</div>

{% endblock %}