
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Sibling's name
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">
        

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Older child first name",
          classes: "govuk-!-font-size-27"
        },
        id: "oldest-first-name",
        name: "oldest-first-name",
        value: data['oldest-first-name']
      }) }}

      {{ govukInput({
        label: {
          text: "Older child last name",
          classes: "govuk-!-font-size-27"
        },
        id: "oldest-last-name",
        name: "oldest-last-name",
        value: data['oldest-last-name']
      }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}