
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Sibling
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "sibling",
        name: "sibling",
        value: data['sibling'],
        fieldset: {
          legend: {
            text: "Will you have another child at the school in August 2019?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>New content - not agreed yet by Education </p>   
      </div>
    </div>
</div>

{% endblock %}