
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Sibling stage
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% from "select/macro.njk" import govukSelect %}

      {{ govukSelect({
        id: "sibling-stage",
        name: "sibling-stage",
        label: {
          text: "Select the sibling's stage when the child starts school",
          classes: "govuk-!-font-size-36"
        },
        hint: {
          text: "If the child will have more than one sibling at the school, enter the stage of the oldest one."
        },
        items: [
          {
            value: "p1",
            text: "P1",
            selected: true
          },
          {
            value: "p2",
            text: "P2"
          },
          {
            value: "p3",
            text: "P3"
          },
          {
            value: "p4",
            text: "P4"
          },
          {
            value: "p5",
            text: "P5"
          },
          {
            value: "p6",
            text: "P6"
          },
          {
            value: "p7",
            text: "P7"
          }
        ]
      }) }}


      {{ govukButton({
        "text": "Continue",
        href: "/forms/education/summary.html"
        }) }}


    </div>
</div>

{% endblock %}