
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Sibling's name
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
        

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Sibling first name",
          classes: "govuk-!-font-size-24"
        },
        id: "oldest-first-name",
        name: "oldest-first-name",
        value: data['oldest-first-name'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Sibling middle name (optional)",
          classes: "govuk-!-font-size-24"
        },
        id: "oldest-middle-name",
        name: "oldest-middle-name",
        value: data['oldest-middle-name'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Sibling last name",
          classes: "govuk-!-font-size-24"
        },
        id: "oldest-last-name",
        name: "oldest-last-name",
        value: data['oldest-last-name'],
        classes: "govuk-input--width-20"
      }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}
      </form>
    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <p>For consistency, we ask for the middle name even though it's not needed.</p>
</div>

{% endblock %}