
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Sibling stage
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <form class="form" method="post">
         
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "sibling-stage",
          name: "sibling-stage",
          fieldset: {
            legend: {
              text: "What primary will the sibling be in August 2019?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If you’ve more than one child tell us about the youngest."
          },
          items: [
            {
              value: "P1",
              text: "P1"
            },
            {
              value: "P2",
              text: "P2"
            },
            {
              value: "P3",
              text: "P3"
            },
            {
              value: "P4",
              text: "P4"
            },
            {
              value: "P5",
              text: "P5"
            },
            {
              value: "P6",
              text: "P6"
            },
            {
              value: "P7",
              text: "P7"
            }
          ]
        }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}

        </form>
    </div>
</div>

{% endblock %}