
{% extends "layout-ERC.html" %}

{% block pageTitle %}
Single parent or carer details
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
        <form class="form" method="post">
        {% from "textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "single-detail",
          id: "single-detail",
          value: data['single-detail'],
          label: {
            text: "Give details of how it helps childcare",
            classes: "govuk-!-font-size-27"
          }
        }) }}


      {{ govukButton({
        "text": "Continue"
        }) }}

      </form>
      <div class="design-notes-box">
          <h3 class="govuk-heading-s">Design notes:</h3>
          <p>This will be re-worded - we want to avoid 'help' or 'beneficial', maybe use 'impact' or 'affect'?</p>
      </div>
    </div>
</div>

{% endblock %}