
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Summary
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">
            Apply online for primary 1 - August 2019
        </h1>
      <h2 class="govuk-heading-m">
        Summary
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents sum-grey">
            <dt class="app-check-your-answers__question">
              Address at the start of the term
            </dt>
            <dd class="app-check-your-answers__answer">
              21 Forres avenue<br>
              G46 6LH - Giffnock
            </dd>
          </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
              Do you currently live at a different address
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['moving'] }}
          </dd>
        </div>
        {% if data['moving'] === 'yes'%}
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
              Current address
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['current-address'] }}
          </dd>
          </div>
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Date you are moving into your new address
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['moving-date-day'] }}/{{ data['moving-date-month'] }}/{{ data['moving-date-year'] }}  
            </dd>
            </div>
        {% endif %}


        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Parent or carer's name
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['parent-first-name'] }}&nbsp;{{ data['parent-last-name'] }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Phone number
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['phone'] }}
          </dd>
        </div>
      
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Email
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['email'] }}
          </dd>
        </div>  

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name of the child
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['child-first-name'] }}&nbsp;
              {% if data['child-middle-name']%}
                {{ data ['child-middle-name'] }}&nbsp;
              {% endif %}
              {{ data['child-last-name'] }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['dob-day'] }}/{{ data['dob-month'] }}/{{ data['dob-year'] }}
          </dd>
        </div>
      
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Gender
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['gender'] }}
          </dd>
        </div>
            
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
              Nursery your child goes to
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['nursery'] }}
          </dd>
        </div>    

        {% if data['nursery'] === 'Another nursery'%}
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Name and address of the nursery
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['other-nursery'] }}
            </dd>
          </div>     
          {% endif %}
    
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
              Preferred catchment school
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['school'] }}
          </dd>
        </div>
      
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Preferred alternative school
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['2nd-school'] }}
            </dd>
          </div>

        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
              Does your child have a medical condition that needs support offered at this school
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['medical'] }}
          </dd>
        </div>
        {% if  data['medical'] === 'yes' %}
        <div class="app-check-your-answers__contents sum-grey">
            <dt class="app-check-your-answers__question">
                Give details of their medical condition
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['more-detail'] }}
            </dd>
          </div>
          {% endif %}
             
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Are you a single parent or carer
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['single'] }}
          </dd>
        </div>    
        {% if  data['single'] === 'yes' %}
        <div class="app-check-your-answers__contents sum-grey">
            <dt class="app-check-your-answers__question">
                Give details of how it helps childcare
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['single-detail'] }}
            </dd>
          </div>
          {% endif %}  
    
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
              Do you have another child at the school
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['sibling'] }}
          </dd>
        </div>

        {% if data['sibling'] === 'yes' %}
        <div class="app-check-your-answers__contents sum-grey">
          <dt class="app-check-your-answers__question">
            Sibling's name
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['oldest-first-name'] }}&nbsp;
              {% if data['oldest-middle-name']%}
              {{ data ['oldest-middle-name'] }}&nbsp;
            {% endif %}
            {{ data['oldest-last-name'] }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Primary they are in
          </dt>
          <dd class="app-check-your-answers__answer">
              {{ data['sibling-stage'] }}
          </dd>
        </div>
        {% endif %}
     
      </dl>
  
      <h2 class="govuk-heading-m">Now send your response</h2>
      <p>By submitting you are confirming that, to the best of your knowledge, the details you're providing are correct.</p>

      {{ govukButton({
        text: "Accept and submit your answers",
        href: "/forms/education/confirmation.html",
        classes: "button-primary"
      }) }}
    </div>
</div>

<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>The content will change. Some guidance to make sure they understand it's the only place they can print the page to save what they entered.</li>
        <li>The questions a user didn't see should be removed, but we should display optional ones even if they didn't answer. Labels should be bold (only on mobile just now, not on desktop).</li>
        <li>We decided not to make the edit possible as this is complex to make especially to make sure that we come back directly to that page. Some questions could not be edited (like the postcode as it affect the UPRN) and some questions have logic routing.</li>
        <li>can only some of this data be passed to GOSS?</li>
    </ul>

   
</div>
{% endblock %}
