
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  About you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Members of Household
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
        About you
      </h2>
    <br>

    <form class="form" method="post" novalidate>
    
    {{ govukInput({
      label: {
        text: "First name"
      },
      id: "first-name-applicant",
      name: "first-name-applicant",
      value: data['first-name-applicant'],
      classes: "govuk-input--width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Last name"
      },
      id: "last-name-applicant",
      name: "last-name-applicant",
      value: data['last-name-applicant'],
      classes: "govuk-input--width-20"
    }) }}

    {% from "textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
      name: "address-applicant",
      id: "address-applicant",
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "What's your address?"
      }
    }) }}

    {{ govukDateInput({
      id: "dob-applicant",
      namePrefix: "dob-applicant",
      fieldset: {
        legend: {
          text: "Your date of birth",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 11 08 1980"
      },
      items:[
          {
          name: 'day',
          value: data['dob-applicant-day'],
          classes: "govuk-input--width-2"
          },
          {
          name: 'month',
          value: data['dob-applicant-month'],
          classes: "govuk-input--width-2"
          },
          {
          name: 'year',
          value: data['dob-applicant-year'],
          classes: "govuk-input--width-4"
          }
          ]
    }) }}


    {% set genderHtml %}
    {{ govukInput({
      id: "gender-desc",
      name: "gender-desc",
      value: data['gender-desc'],
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Describe gender in another way (optional)"
      }
    }) }}
    {% endset -%}


    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "gender-applicant",
      name: "gender-applicant",
      fieldset: {
        legend: {
          text: "Your gender",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "female",
          text: "Female"
        },
        {
          value: "male",
          text: "Male"
        },
        {
          value: "Other",
          text: "Other",
          conditional: {
            html: genderHtml
          }
        }
      ]
    }) }}


    {{ govukInput({
      label: {
        text: "Telephone/mobile number"
      },
      id: "telephone-number",
      name: "telephone-number",
      value: data['telephone-number'],
      type: "tel",
      classes: "govuk-input--width-10"
    }) }}


    {{ govukInput({
      label: {
        text: "Email (optional)"
      },
      hint: {
        text: "We’ll use this to send you a receipt."
      },
      id: "email",
      name: "email",
      value: data['email'],
      type: "email",
      classes: "govuk-input--width-20"
    }) }}


      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>

    </div>
</div>

{% endblock %}
