
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
          Members of Household
      </h1>
      <!--p class="govuk-body-l">Enter each person who will be living with you.</p-->
      <h2 class="govuk-heading-m">
          Your Details:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['first-name-applicant']}}&nbsp;{{data['last-name-applicant']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Address:</th><td class="govuk-table__cell no-border">{{ data ['address-applicant']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="ngovuk-table__cell o-border">{{data['dob-applicant-day']}}/{{data['dob-applicant-month']}}/{{data['dob-applicant-year']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender-applicant'] === 'Other' %} {{data['gender-desc']}}{% else%} {{data['gender-applicant']}}{% endif %}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Phone:</th><td class="govuk-table__cell no-border">{{ data ['telephone-number']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Email (optional):</th><td class="govuk-table__cell no-border">{{data['email']}}</td></tr>
        </tbody>
      </table>
    </div>
      <p><a href="/forms/housing/members-household/about-you.html">Edit my details</a></p>
      <br><br>

      <form class="form" method="post">
     
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "add-member1",
          name: "add-member1",
          fieldset: {
            legend: {
              text: "Do you live alone?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


      {% from "button/macro.njk" import govukButton %}
      <br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>

    </div>
</div>


{% endblock %}
