
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Member 3
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Enter each person who will be living with you.</p>
      <h2 class="govuk-heading-m">
          Member 1:
      </h2>
      <div style="overflow: auto">
        <table class=" govuk-table half-width">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['full-name-member1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Address:</th><td class="govuk-table__cell no-border">{{ data ['previous-address-member1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Relationship to you:</th><td class="govuk-table__cell no-border">{{data['relation-member1']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="govuk-table__cell no-border">{{data['dob-member1-day']}}/{{data['dob-member1-month']}}/{{data['dob-member1-year']}}</td></tr>
          <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender-member1'] === 'Other' %} {{data['gender-desc1']}} {% else %}{{data['gender-member1']}} {% endif %}</td></tr>
        </tbody>
      </table>
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
    <h2 class="govuk-heading-m">
        Member 2:
    </h2>
    <div style="overflow: auto">
      <table class=" govuk-table half-width">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['full-name-member2']}}</td></tr>
        <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Address:</th><td class="govuk-table__cell no-border">{{ data ['previous-address-member2']}}</td></tr>
        <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Relationship to you:</th><td class="govuk-table__cell no-border">{{data['relation-member2']}}</td></tr>
        <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="govuk-table__cell no-border">{{data['dob-member2-day']}}/{{data['dob-member2-month']}}/{{data['dob-member2-year']}}</td></tr>
        <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender-member2'] === 'Other' %} {{data['gender-desc2']}} {% else %}{{data['gender-member2']}} {% endif %}</td></tr>
      </tbody>
    </table>
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
      <h1 class="govuk-heading-m">
        Member 3
      </h1>
      <form class="form" method="post">
          {% from "input/macro.njk" import govukInput %}
    
          {{ govukInput({
            label: {
              text: "Their full name"
            },
            id: "full-name-member3",
            name: "full-name-member3",
            value: data['full-name-member3']
          }) }}
    
          {% from "textarea/macro.njk" import govukTextarea %}
    
          {{ govukTextarea({
            name: "previous-address-member3",
            id: "previous-address-member3",
            value: data['previous-address-member3'],
            label: {
              text: "What's their previous address? (if applicable)"
            }
          }) }}
    
          {{ govukInput({
            label: {
              text: "What's their relationship to you?"
            },
            id: "relation-member3",
            name: "relation-member3",
            value: data['relation-member3'],
            classes: "govuk-input--width-20"
          }) }}
    
          {% from "date-input/macro.njk" import govukDateInput %}
    
    
          {{ govukDateInput({
            id: "dob-member3",
            namePrefix: "dob-member3",
            fieldset: {
              legend: {
                text: "Your date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 11 08 1980"
            },
            items:[
                {
                name: 'day',
                value: data['dob-member3-day'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'month',
                value: data['dob-member3-month'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'year',
                value: data['dob-member3-year'],
                classes: "govuk-input--width-4"
                }
                ]
          }) }}
      
      
          {% set genderHtml %}
          {{ govukInput({
            id: "gender-desc3",
            name: "gender-desc3",
            value: data['gender-desc3'],
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Describe gender in another way (optional)"
            }
          }) }}
          {% endset -%}
      
      
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "gender-member3",
            name: "gender-member3",
            fieldset: {
              legend: {
                text: "Your gender",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "female",
                text: "Female"
              },
              {
                value: "male",
                text: "Male"
              },
              {
                value: "Other",
                text: "Other",
                conditional: {
                  html: genderHtml
                }
              }
            ]
          }) }}
    
          {% from "button/macro.njk" import govukButton %}
    
    
          {{ govukButton({
            text: "No more member for now - Continue",
            href: "/forms/housing/members-household/confirmation",
            classes: "button-primary"
          }) }}
    
    </form>
    </div>
</div>

{% endblock %}
