
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Housing form start
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Members of Household
      </h1>
      <p><img src="{{ asset_path }}images/housing-logo.PNG" alt="Housing logo" style="height:95px; width:250px"></p>
      <p class="govuk-body-l">
          We need to know about you and each member of your household.  
      </p>

      <h2 class="govuk-heading-m erc-text-blue">Before you start</h2>
      <p>
        You need to have:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the date of birth of each member of your household</li>
        <li>their previous address if applicable</li>
        <li>make sure that you tell them that you are giving their information to East Renfrewshire Council</li>
      </ul>
      <p>
     
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Start now",
        href: "/forms/housing/members-household/about-you.html",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <p>We'll use this information to:
          <ul class="govuk-list govuk-list--bullet">
            <li>verify your identity where required</li>
            <li>contact you by post, email or telephone</li>
            <li>maintain our tenancy records</li>
         </ul>
      </p>
  
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Contact</h2>
      <ul class="govuk-list">
      <li>Phone: 0141 577 3001</li>
      <li>Email: <a href="mailto:housingallocationenquiries@eastrenfrewshire.gov.uk">housingallocationenquiries@eastrenfrewshire.gov.uk</a></li>
      </ul>

      <p class="govuk-!-margin-top-9">
          You can find out more about how we handle this information and your rights in respect of it by going to <a href="#">http://www.eastrenfrewshire.gov.uk/housing-service-standards</a>
      </p>

      </p>
    </div>
</div>

{% endblock %}
