
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Maps
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Maps
      </h1>
      <p>Some useful links:</p>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="http://www.eastrenfrewshire.gov.uk/map" target="_blank" rel="noopener">http://www.eastrenfrewshire.gov.uk/map</a></li>
          <li><a href="https://glasgowgis.maps.arcgis.com/apps/LocalPerspective/index.html?appid=e99ff0bfd5a44fd6a1c68de66e123299" target="_blank" rel="noopener">Local Perspective -Glasgow example</a></li>
          <li><a href="https://github.com/esri" target="_blank" rel="noopener">https://github.com/esri</a></li>
        </ul>
      </p>
      <p>More later ...</p>
    </div>
</div>

{% endblock %}
