
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Homepage ESOL
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        ESOL  -  IT Courses
      </h1>
      <p>
        <span style="color:#b10e1e "><strong>For illustration only</strong></span>
      </p>
      <h2 class="govuk-heading-m">Purpose</h2>
      <p>Improve refugees’ IT skills and to enhance their independency. Also, it could be a crucial tool to tackle digital isolation (please see BBC article below on Digital Isolation)</p>
      
      <h2 class="govuk-heading-m">Content</h2>
      <p>Show learners how to manage online accounts, complete online application, make online requests, paying for services online, etc. </p>
      
      <h2 class="govuk-heading-m">Examples</h2>
      <p>It could be:</p>
    
      <div class="govuk-!-margin-left-8">
        <h3 class="govuk-heading-s">Housing</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Reporting repairs by completing online repairs request</li>
            <li><a href="../forms/housing/CBLstart.html">Completing housing applications</a></li>
            <li>Pay for rent/council tax online </li>
            <li><a href="../forms/housing/amendment/start.html">Completing change of circumstances online form</a></li>
            <li>Bidding for properties using the Homeseeker system</li>
            <li>Manage gas/electricity or broadband online accounts</li>
            <li>Applying for Warm Home Discount</li>
            <li>Providing meter reading online </li>
        </ul>
        <h3 class="govuk-heading-s">General</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Managing Universal Credit (UC) online account</li>
          <li>Searching for jobs online</li>
          <li>Applying for online courses and completing online funding applications</li>
          <li>Online banking (setting up standing order, transferring money, etc.)</li>
          <li>Setting up new password for online accounts such as UC account</li>
      </ul>
    </div>

    <h2 class="govuk-heading-m  govuk-!-margin-top-8">Teaching method</h2>
    <p>Candidates will attend an interactive course. Trainee/course provider will show them the steps on how to complete each task. Then, learners/candidates will put what they learned into practice by using either laptops or their own mobile phones. Handouts will be given so that the learners can go back to read them if needed. Handouts will have screenshots to make it easy to follow task step by step. </p>

        
    <h2 class="govuk-heading-m">Partnerships</h2>
    <p>It would be good if we work in partnership with local Job centre to organise the course. Flyer about the course could be distributed through HSCP, MART, Work East Ren, Voluntary Action and Barrhead Job Centre. Having learners from different backgrounds will aid integrating refugees with local community.      </p>
  


    </div>
</div>


{% endblock %}
