
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Forms
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Forms
      </h1>
      <p class="govuk-body-l">
        This is where we have the forms we are working on. We can have different versions to show and to use for usability testing.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="housing/CBLstart.html" class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">CBL</a><br>version with updated content<br><strong class="govuk-tag info">last update:</strong><strong> 03/01 evening</strong><br>
          See the flow of screens used in UR session of Monday 10/12/18 <a href="{{ asset_path }}/images/CBLflowur1012.pdf" target="_blank">as a PDF</a><br>
          See the flow of screens used in the UR session of the 08-09/01/19 <a href="{{ asset_path }}/images/CBLflowur0801.pdf" target="_blank">as a PDF</a></li><br>
        <li><a href="equal-opportunities/start1.html" class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Equality and diversity</a><br>Based on Housing document - but some changes in already<br> <strong class="govuk-tag info">last update:</strong>  <strong>04/01 morning</strong><br>
        See original paper form at the end of CBL <a href="{{ asset_path }}/images/equality-questionnaire-paper-form.png" target="_blank">as an image</a><br>
        See the flow of screens of a simplified version <a href="{{ asset_path }}/images/equality-diversity-questionnaire-simplified.pdf" target="_blank">as a PDF</a></li><br>
        <li><a href="education/P1-start1.html" class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">P1 enrolment</a><br>version with modification and feedback following UR testing on the 28/11<br> <strong class="govuk-tag info">last update:</strong>  <strong>18/12 morning</strong>
          <span class="UR-tag red">LIVE form</span> since 17/12/18</li><br>
        <li><a href="housing/members-household/start.html" class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Members of household - for Housing</a><br>First draft - for illustration only - should be one question per page<br> <strong class="govuk-tag info">last update:</strong>  <strong>2/12 evening</strong></li><br>
        <li><a href="housing/medical/start.html" class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Medical priority - for Housing</a><br>First draft - for illustration only<br> <strong class="govuk-tag info">last update:</strong>  <strong>9/12 afternoon</strong></li><br>
        <li><a href="housing/amendment/start.html" class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Amendment - for Housing</a><br>First draft - for illustration only - under construction - only change of name, and remove person coded for now<br> <strong class="govuk-tag info">last update:</strong>  <strong>16/12 morning</strong></li><br>
      </ul>

    </div>
</div>

{% endblock %}
