 {% extends "layout-ERC.html" %} {% block pageTitle %} Colours {% endblock %} {% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Colours
    </h1>
    <p>We are using some GDS colours and some ERC specific colours.</p>

    <p>
      <strong class="govuk-tag black">GDS reference</strong>
      <a href="https://design-system.service.gov.uk/styles/colour/" target="_blank" rel="noopener">Link for colours</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l">

    <table class="govuk-body app-colour-list" summary="Table of main colours">
      <tbody>

        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m ">
              Text
            </h3>
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#004269"></span>
            <code>$erc-text-blue</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #004269
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#6f777b"></span>
            <code>Hint text GDS</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #6f777b
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            used in the prototype, but not on the ERC live website yet
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m govuk-!-padding-top-9">
              Links
            </h3>
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#005ea5"></span>
            <code>$govuk-link-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #005ea5
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            ERC link colour below used in the prototype
          </td>
        </tr>
        <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#0000ee"></span>
              <code>erc link colour</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #0000ee
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              <span style="color: #0000ee; text-decoration: underline">this looks like a link</span>
            </td>
          </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#2b8cc4"></span>
            <code>$govuk-link-hover-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #2b8cc4
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            used in the prototype
          </td>
        </tr>
        <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#444"></span>
              <code>ERC hover bg colour</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #fff / #444
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              <span style="color: #ffffff; text-decoration: underline; background: #444 ; padding: 0 8px;">this looks like a link - hover</span><br>
              not used in the prototype, not accessible
            </td>
          </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#4c2c92"></span>
            <code>$govuk-link-visited-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #4c2c92
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            As it's close enough to the ERC one: kept
          </td>
        </tr>
        <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#551a8b"></span>
              <code>ERC link visited</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
                #551a8b
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              <span style="color: #551a8b; text-decoration: underline;">this looks like a visited link</span><br>
              not used - see above
            </td>
          </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#0b0c0c"></span>
            <code>$govuk-link-focus-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #0b0c0c / #ffbf47
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            <span style="color: #0b0c0c; text-decoration: underline; background-color: #ffbf47; padding: 0 8px;">GDS link - focus</span><br>
            used in the prototype
          </td>
        </tr>
        <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#b9ff06"></span>
              <code>ERC link focus/active</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
                #b9ff06 / #444
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              <span style="background-color: #444; text-decoration: underline; color: #b9ff06 ; padding: 0 8px;">ERC link - focus/active</span><br>
              not used in the prototype, not accessible and not consistent with other focus visuals
            </td>
          </tr>

        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m govuk-!-padding-top-9">
              Focus
            </h3>
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#ffbf47"></span>
            <code>$govuk-focus-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #ffbf47
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            Indicate which element is focussed on. For example, when a user tabs through.
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m govuk-!-padding-top-9">
              Errors
            </h3>
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#b10e1e"></span>
            <code>$govuk-error-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #b10e1e
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
           changed to ERC colour, see below
          </td>
        </tr>
        <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#b30000"></span>
              <code>ERC error colour</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #b30000
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              Used for error messages - and border
            </td>
          </tr>

        <tr>
            <td colspan="3">
              <h3 class="govuk-heading-m govuk-!-padding-top-9">
                Backgrounds
              </h3>
            </td>
          </tr>
  
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#0071BA"></span>
              <code>$erc-logo-blue</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #0071BA
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
                footer - This is a prototype tag
            </td>
          </tr>
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#ddebf1"></span>
              <code>ERC light blue panels</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #ddebf1
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              <span style="color: #004269; background-color: #ddebf1; ; padding: 0 8px;">a panel</span>
            </td>
          </tr>
          
          <tr class="app-colour-list-row">
              <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                <span class="app-swatch " style="background-color:#d5e6aa"></span>
                <code>ERC light green panels</code>
              </th>
              <td class="app-colour-list-column app-colour-list-column--colour">
                #d5e6aa
              </td>
              <td class="app-colour-list-column app-colour-list-column--notes">
                <span style="color: #004269; background-color: #d5e6aa; ; padding: 0 8px;">a panel</span>
              </td>
            </tr>

          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#004269"></span>
              <code>ERC dark blue menu headers</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #004269 / #fff
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              same as text colour<br>
              <span style="background-color: #004269; color: #fff; ; padding: 0 8px; font-weight: 600">heading menu</span>
            </td>
          </tr>
  
          <tr class="app-colour-list-row">
              <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                <span class="app-swatch " style="background-color:#444"></span>
                <code>ERC grey menu selected</code>
              </th>
              <td class="app-colour-list-column app-colour-list-column--colour">
                #444 / #ddebf1
              </td>
              <td class="app-colour-list-column app-colour-list-column--notes">
                same as text colour<br>
                <span style="background-color: #444; color: #ddebf1; ; padding: 0 8px; font-weight: 600">menu selected</span>
              </td>
            </tr>

          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#ececec"></span>
              <code>ERC disabled or read-only</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #ececec
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              for input backgrounds
            </td>
          </tr>

          <tr class="app-colour-list-row">
              <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                <span class="app-swatch " style="background-color:#eee"></span>
                <code>ERC Summary table</code>
              </th>
              <td class="app-colour-list-column app-colour-list-column--colour">
                #eee
              </td>
              <td class="app-colour-list-column app-colour-list-column--notes">
                one every two rows
              </td>
            </tr>
  
          <tr>
            <td colspan="3">
              <h3 class="govuk-heading-m govuk-!-padding-top-9">
                Buttons
              </h3>
            </td>
          </tr>
  
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#518418 "></span>
              <code>ERC primary button</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #518418
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              default, active, visited
            </td>
          </tr>
  
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#436c14"></span>
              <code>ERC primary button</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #436c14
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              hover, focus
            </td>
          </tr>
  
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#cecece"></span>
              <code>ERC Secondary button</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #cecece
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              default, active, visited
            </td>
          </tr>
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#ddd"></span>
              <code>ERC Secondary button</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #dddddd
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              hover, focus
            </td>
          </tr>
  
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#b10e1e"></span>
              <code>ERC Warning button</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #b10e1e
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              default, active, visited
            </td>
          </tr>
          <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color:#df3034"></span>
              <code>ERC Warning button</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
              #df3034
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              hover, focus
            </td>
          </tr>
  
        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m govuk-!-padding-top-9">
              Borders
            </h3>
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#bfc1c3"></span>
            <code>$govuk-border-colour</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #bfc1c3
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
            vertical border for inset text and details
          </td>
        </tr>
        <tr class="app-colour-list-row">
            <th class="app-colour-list-column app-colour-list-column--name" scope="row">
              <span class="app-swatch " style="background-color: #008000"></span>
              <code>$erc-green-border</code>
            </th>
            <td class="app-colour-list-column app-colour-list-column--colour">
                #008000
            </td>
            <td class="app-colour-list-column app-colour-list-column--notes">
              border of inputs when the validation is good
            </td>
          </tr>

        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m govuk-!-padding-top-9">
              Panels
            </h3>
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#28a197"></span>
            <code>$govuk-turquoise</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #28a197
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#B30000"></span>
            <code>ERC panel red</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #B30000
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#005ea5"></span>
            <code>ERC panel blue</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #005ea5
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>

        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#c67f0f"></span>
            <code>ERC panel yellow</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #c67f0f
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <h3 class="govuk-heading-m govuk-!-padding-top-9">
              Message boxes - alerts
            </h3>
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#bde5f8"></span>
            <code>ERC info background</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #bde5f8
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#dff2bf "></span>
            <code>ERC success background</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #dff2bf
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#2D4F2A "></span>
            <code>ERC success border and text</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #2d4f2a
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color: #feefb3 "></span>
            <code>ERC warning background</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #feefb3
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#782A06"></span>
            <code>ERC warning border and text</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #782A06
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:  #ffbaba  "></span>
            <code>ERC error background</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #ffbaba
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#d8000c"></span>
            <code>ERC border</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #d8000c
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>
        <tr class="app-colour-list-row">
          <th class="app-colour-list-column app-colour-list-column--name" scope="row">
            <span class="app-swatch " style="background-color:#333333 "></span>
            <code>ERC text</code>
          </th>
          <td class="app-colour-list-column app-colour-list-column--colour">
            #333333
          </td>
          <td class="app-colour-list-column app-colour-list-column--notes">
          </td>
        </tr>


      </tbody>
    </table>

  </div>
</div>

{% endblock %}