
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Homepage ERC
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        Homepage
      </h1>
      <p>
        We can create forms, patterns and have different versions to show and to use for usability testing. 
      </p>

      <h2 class="govuk-heading-m erc-text-blue">From here you can access</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="components/menu-components.html">a list components</a></li>
        <li><a href="patterns/menu-patterns.html">a list patterns</a></li>
        <li><a href="forms/menu-forms.html">a list of forms</a></li>
        <li><a href="colours.html">a list of forms</a></li>
        <li><a href="useful-links.html">useful links</a></li>
      </ul>

    </div>
</div>

{% endblock %}
