
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Homepage ERC
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        Homepage
      </h1>
      <p>
        This is where I will create some prototype forms. 
      </p>

      <h2 class="govuk-heading-m erc-text-blue">From here you can:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="components/menu-components.html">see the various components</a></li>
        <li><a href="forms/housing/start.html">see the housing form</a></li>
      </ul>

    </div>
</div>

{% endblock %}
