
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Privacy
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Privacy notice
      </h1>
      <p>
        East Renfrewshire Council is the 'data controller' of the personal information you give us and we collect and use about you. This covers personal information of both council staff and members of the public.<br>
        We generally use information about you to provide public services and carry out our statutory functions.
      </p>
      <p>We may collect information by:</p>
      <ul class="govuk-list govuk-list--bullet">        
        <li>paper</li>
        <li>online form</li>
        <li>telephone</li>
        <li>email</li>
        <li>CCTV</li>
        <li>a member of our staff</li>
        <li>an external agency acting on our behalf</li>
      </ul>
      <p>
          This notice explains why we collect your information and what we use it for. It also gives more detail how different Council services use and share your information.
      </p>
    </div>
</div>

{% endblock %}
