
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Supporting documents
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl erc-text-blue">
        Supporting documents
      </h1>
      <p>
        Here we could have presentations, like the powerpoint explaining our design principles.
      </p>

      <h2 class="govuk-heading-m erc-text-blue">Some posters</h2>
      <p>
        <a href="/../../public/images/posters-pdf/Poster_BetterDataBetterDecisions.pdf"><img src="/../../public/images/posters-pdf/Poster_BetterDataBetterDecisions.png" alt="Better Data better decisions poster" style="height:150px; margin-right:10px"></a>
        <a href="/../../public/images/posters-pdf/Poster_NoDataNoTruth.pdf"><img src="/../../public/images/posters-pdf/Poster_NoDataNoTruth.png" alt="No data no truthposter" style="height:150px; margin-right:10px"></a>
        <a href="/../../public/images/posters-pdf/Poster_UserResearch_IsATeamSport.pdf"><img src="/../../public/images/posters-pdf/Poster_UserResearch_IsATeamSport.png" alt="User Research is a team sport poster" style="height:150px ;margin-right:10px"></a>
        <a href="/../../public/images/posters-pdf/Poster_YouAreNotYourUser.pdf"><img src="/../../public/images/posters-pdf/Poster_YouAreNotYourUser.png" alt="You are not your user poster" style="height:150px ;margin-right:10px""></a>
        <a href="/../../public/images/posters-pdf/visability93.png"><img src="/../../public/images/posters-pdf/visability93.png" alt="93% of people with usability don't use a wheelchair" style="height:150px"></a>
      </p>
      <p><a href="/../../public/images/posters-pdf/DCE_chart.jpg"><img src="/../../public/images/posters-pdf/DCE_chart.jpg" alt="Digital Customer Experience chart diagram"></a></p>

    </div>
</div>

{% endblock %}
