
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Useful links
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl erc-text-blue">
        Useful links - videos - documents
      </h1>

      <h2 class="govuk-heading-m erc-text-blue">Links</h2>
      <p><a href="https://www.eastrenfrewshire.gov.uk/" target="_blank" rel="noopener">East Renfrewshire Council</a></p>
      <p><a href="https://signin.mygovscot.org/home/" target="_blank" rel="noopener">My Account</a></p>
      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Others councils
            </span>
          </summary>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.north-ayrshire.gov.uk/home.aspx">North Ayrshire Council</a></li>
            <li><a href="http://www.renfrewshire.gov.uk/">Renfrewshire Council</a></li>
            <li><a href="https://www.edinburgh.gov.uk/">Edinburgh Council</a></li>
            <li><a href="http://www.kirklees.gov.uk/beta/default.aspx">Kirklees Council</a></li>
            <li><a href="https://www.dundeecity.gov.uk/">Dundee Council</a></li>
            <li><a href="http://www.moray.gov.uk/">Moray Council</a></li>
          </ul>
        </details>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Accessibility
              </span>
            </summary>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.w3.org/WAI/perspective-videos/" target="_blank" rel="noopener">Perspective videos</a></li>
              <li><a href="https://resources.mygov.scot/design-standards/accessibility/" target="_blank" rel="noopener">GOV.SCOT Accessibility</a></li>
              <li><a href="https://github.com/UKHomeOffice/posters" target="_blank" rel="noopener">Home Office Do / Don't posters on Github</a></li>
              <li><a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopener">Requirements for the public sector</a></li>
              <li><a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles" target="_blank" rel="noopener">Personas</a></li>
              <li><a href="https://contrastchecker.com/" target="_blank" rel="noopener">https://contrastchecker.com</a></li>
              <li><a href="https://www.opendyslexic.org/" target="_blank" rel="noopener">OpenDyslexic</a></li>
              <li><a href="http://pave-pdf.org/index.en.html" target="_blank" rel="noopener">Four steps to an accessible PDF - for PC only</a></li>
            </ul>
          </details>


      <h2 class="govuk-heading-m erc-text-blue">Videos</h2>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/dEbl5jvLKGQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/QJlCBji5NpA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hs8sykCaf3E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

    </div>
</div>

{% endblock %}
