
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Useful links
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Useful links - videos - documents
      </h1>

      <h2 class="govuk-heading-m">Links</h2>
      <p><a href="https://www.eastrenfrewshire.gov.uk/" target="_blank" rel="noopener">East Renfrewshire Council</a></p>
      <p><a href="https://signin.mygovscot.org/home/" target="_blank" rel="noopener">My Account</a></p>
      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Others councils
            </span>
          </summary>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.north-ayrshire.gov.uk/home.aspx">North Ayrshire Council</a></li>
            <li><a href="http://www.renfrewshire.gov.uk/">Renfrewshire Council</a></li>
            <li><a href="https://www.edinburgh.gov.uk/">Edinburgh Council</a></li>
            <li><a href="http://www.kirklees.gov.uk/beta/default.aspx">Kirklees Council</a></li>
            <li><a href="https://www.dundeecity.gov.uk/">Dundee Council</a></li>
            <li><a href="http://www.moray.gov.uk/">Moray Council</a></li>
          </ul>
        </details>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Accessibility
              </span>
            </summary>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.w3.org/WAI/perspective-videos/" target="_blank" rel="noopener">Perspective videos</a></li>
              <li><a href="https://resources.mygov.scot/design-standards/accessibility/" target="_blank" rel="noopener">GOV.SCOT Accessibility</a></li>
              <li><a href="https://github.com/UKHomeOffice/posters" target="_blank" rel="noopener">Home Office Do / Don't posters on Github</a></li>
              <li><a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopener">Requirements for the public sector</a></li>
              <li><a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles" target="_blank" rel="noopener">Personas</a></li>
              <li><a href="https://contrastchecker.com/" target="_blank" rel="noopener">https://contrastchecker.com</a></li>
              <li><a href="https://www.opendyslexic.org/" target="_blank" rel="noopener">OpenDyslexic</a></li>
              <li><a href="http://pave-pdf.org/index.en.html" target="_blank" rel="noopener">Four steps to an accessible PDF - for PC only</a></li>
            </ul>
          </details>

          <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Chatbots
                </span>
              </summary>
              <ul class="govuk-list govuk-list--bullet">
                <li><p><a href="https://landbot.io/?fbclid=IwAR0KRtPCudN5bqrUs1Z_uDcnZLtx2Wf7I2ZpDf8Uybe7fB0MMY40DUO1dLI" target="_blank" rel="noopener"><strong>Landbot.io - to prototype</strong></a></li>
                <li><a href="https://guild.co/blog/five-reasons-why-chatbots-will-transform-customer-service/" target="_blank" rel="noopener">Five reasons why chatbots will transform customer service</a></li>
                <li><a href="https://www.marutitech.com/complete-guide-chatbots/" target="_blank" rel="noopener">Complete guide on chatbots</a></li>
                <li><a href="https://www.marutitech.com/complete-guide-bot-frameworks/" target="_blank" rel="noopener">Complete guide on bot frameworks</a></li>
                <li><a href="https://blog.prototypr.io/a-guide-to-developing-bot-personalities-c6eba213d77b" target="_blank" rel="noopener">A guide to developing bot personalities</a></li>
                <li><a href="https://digit.fyi/ms-call-centre-chatbot-ai/" target="_blank" rel="noopener">M&S to Replace Call Centre Staff with Chatbot AI</a></li>
                <li><a href="https://medium.com/analytics-vidhya/building-a-simple-chatbot-in-python-using-nltk-7c8c8215ac6e" target="_blank" rel="noopener">Building a Simple Chatbot from Scratch in Python (using NLTK)</a></li>
                <li><a href="https://uxdesign.cc/how-we-designed-inga-a-delightful-banking-chatbot-for-ing-941d18c4646f" target="_blank" rel="noopener">How we designed Inga, a delightful banking chatbot for ING</a></li>
              </ul>
            </details>

      <h2 class="govuk-heading-m">Videos</h2>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/dEbl5jvLKGQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/QJlCBji5NpA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hs8sykCaf3E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

    </div>
</div>

{% endblock %}
