
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Address
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          What is your actual address?
      </h1>

      <p>This is where we'll send letters.</p>

{% from "textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "address",
  id: "address",
  label: {
    text: "Your address"
  }
}) }}

{{ govukButton({
  "text": "Continue",
  href: "/forms/education/manual-catchment-school.html"
  }) }}


    </div>
</div>

{% endblock %}