
{% extends "layout-ERC.html" %}

{% block pageTitle %}
Current accommodation - Mental health
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Medical priority application
      </h1>
   
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post" novalidate>

          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            name: "mental-current-acc",
            id: "mental-current-acc",
            label: {
              text: "How is your current accommodation impacting your mental health?",
              classes: 'govuk-!-font-size-24'
            },
            hint: {
              text: "Provide full details"
            }
          }) }}
     
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/medical/psychiatrist.html",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
      </form>
    </div>
</div>

{% endblock %}
