
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Mental health - Details
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Medical priority application
      </h1>
   
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post" novalidate>

          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-size-24" for="physical-details">
                Tell us:
              </label>
              <ul class="govuk-list govuk-list--bullet">
              <li>the full details of your mental health difficulties</li>
              <li>the length of time for each medical condition</li>
              </ul>
              <textarea class="govuk-textarea" id="physical-details" name="physical-details" rows="5" aria-describedby="physical-details-hint"></textarea>
            </div>
     
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/medical/mental-current.html",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
      </form>
    </div>
</div>

{% endblock %}
