
{% extends "layout-ERC.html" %}

{% block pageTitle %}
  Psychiatrist - Mental health
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Medical priority application
      </h1>
   
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post" novalidate>
        {% from "radios/macro.njk" import govukRadios %}
        {% from "textarea/macro.njk" import govukTextarea %}

        {% set morePsyHtml %}
        {{ govukTextarea({
          name: "more-psy",
          id: "more-psy",
          label: {
            text: "Enter their contact details"
          }
        }) }}
        {% endset%}

        {{ govukRadios({
          idPrefix: "psy-conditional",
          name: "psy",
          fieldset: {
            legend: {
              text: "Are you under the care of a Psychiatrist / Community Psychiatric Nurse (CNP)?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("psy", "yes"),
              conditional: {
                html: morePsyHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: checked("psy", "no")
            }
          ]
        }) }}
     
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/medical/medication.html",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}
      </form>
    </div>
</div>

{% endblock %}
